<app-menubar></app-menubar>
 <div class="content-wrapper">
    <div class="container-fluid">
        <div class="row pt-2 pb-2">
            <div class="col-sm-9">
                <h4 class="page-title">Time Sheet</h4> 
           </div> 
         </div>  


         <div class="card" >
            <div class="card-body">
                <i>Your active projects</i>
                <div class="row">
                    <div class="col-sm-4" *ngFor="let item of projectData">
                        <mat-card>
                          <h6>  {{item.RequirementsTb.ProjectsTb.Project_name}}
                        </h6>
                        <hr>
                        <p>
                        {{item.RequirementsTb.ProjectsTb.Description}}
                    </p>
                        <i class="leftfloat"> {{item.RequirementsTb.ProjectsTb.Start_date}}</i>
                        <i class="rightfloat">  {{item.RequirementsTb.ProjectsTb.End_date}}</i>
                        <br>
                    <hr>
                    <button mat-raised-button color="primary"
                     (click)="calanderView(item.RequirementsTb.ProjectsTb.Project_id, item.RequirementsTb.Requirement_id,item.RequirementsTb.ProjectsTb.User_id)">Time Sheet Entry</button>


                        </mat-card>

                    </div>
                </div>
            </div>
        </div>
       
  
<div class="overlay toggle-menu"></div> 
</div>
</div> 
<app-footer></app-footer>