<app-menubar></app-menubar>
 <div class="content-wrapper">
    <div class="container-fluid">
 
        <div class="row pt-2 pb-2">
            <div class="col-sm-9">
                <h4 class="page-title">Company Profile</h4> 
           </div> 
         </div>   

         <div class="row">
            <div class="col-lg-12">
                <div class="card">
                   <div class="card-body"> 
                     <ul class="nav nav-tabs nav-tabs-primary">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tabe-1"><i class="zmdi zmdi-assignment-o"></i> 
                           <span class="hidden-xs">General Information </span></a>
                      </li> 
                      <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#tabe-2" id="branchTab"><i class="fa fa-cubes"></i> 
                           <span class="hidden-xs">Branches</span></a>
                      </li> 
                      <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#tabe-3" id="bankTab"><i class="fa fa-bank"></i> 
                           <span class="hidden-xs">Bank Accounts</span></a>
                      </li> 
                      <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#tabe-5" id="govTab"><i class="fa fa-bank"></i> 
                           <span class="hidden-xs">Government IDs</span></a>
                      </li> 
                      <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#tabe-4" id="preferenceTab"><i class="fa fa-gear"></i> 
                           <span class="hidden-xs">Preferences</span></a>
                      </li> 
                     </ul> 
                     <div class="tab-content">
                       <div id="tabe-1" class="container tab-pane active">
                         <p class="usermsg">This information will be available to other users</p> 
                  <div id="notSucess" class="{{isUpdated ? 'successClass' : 'notSucess'}}">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="alert alert-success alert-dismissible cus_success" role="alert">
                          <button type="button" class="close" data-dismiss="alert">×</button>
                          <div class="alert-icon">
                           <i class="zmdi zmdi-check-circle"></i>
                          </div>
                          <div class="alert-message">
                            <span><strong>Success! </strong> You have updated your company.</span>
                          </div>
                          </div>
                      </div>
                    </div>
                  </div>
                        <form [formGroup]="Company_Form" (ngSubmit)="onSubmit()">
                            <div class="row"> 
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="input-11"> Legal Entity Name<span class="redColor">*</span> </label>
                                    <input type="text" class="form-control form-control-square" formControlName="Company_fullname" id="Company_fullname" 
                                    name="Company_fullname"  placeholder="Company Legal Entity name" >
                                    <div *ngIf="submitted && f.Company_fullname.errors" class="invalid-feedback">
                                        <div *ngIf="f.Company_fullname.errors.required">Company Legal Name is a required field.</div> 
                                      </div> 
                                   </div>
                                </div>  
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="input-11">Company short name<span class="redColor">*</span> </label>
                                    <input type="text" class="form-control form-control-square" formControlName="Company_shortname" id="Company_shortname" 
                                    name="Company_shortname"  placeholder="Company short name">
                                    <div *ngIf="submitted && f.Company_shortname.errors" class="invalid-feedback">
                                        <div *ngIf="f.Company_shortname.errors.required">Company short is a required field.</div> 
                                      </div> 
                                   </div>
                                </div>  
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="input-11">Number of employees<span class="redColor">*</span> </label>
                                    <input type="number" min="0" class="form-control form-control-square" formControlName="Company_noemployees" id="Company_noemployees" 
                                    name="Company_noemployees"  placeholder="Number of total employeees">
                                    <div *ngIf="submitted && f.Company_noemployees.errors" class="invalid-feedback">
                                        <div *ngIf="f.Company_noemployees.errors.required">Number of employees is a required field.</div> 
                                      </div> 
                                   </div>
                                </div>  
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="input-11">Company Email ID<span class="redColor">*</span> </label>
                                    <input type="email" class="form-control form-control-square" formControlName="Company_email" 
                                    id="Company_email" name="Company_email"  placeholder="Number of total employeees">
                                    <div *ngIf="submitted && f.Company_email.errors" class="invalid-feedback">
                                        <div *ngIf="f.Company_email.errors.required">Company mail is a required field.</div> 
                                      </div> 
                                   </div>
                                </div>
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="input-11">Founded On </label>
                                    <input type="date" class="form-control form-control-square" formControlName="Company_found" id="Company_found" 
                                    name="Company_found"  placeholder="Company founded date">
                                    <div *ngIf="submitted && f.Company_found.errors" class="invalid-feedback">
                                        <div *ngIf="f.Company_found.errors.required">Valid date is a required field.</div> 
                                      </div> 
                                   </div>
                                </div> 
                                <div class="col-sm-6">
                                  <div class="form-group">
                                    <label for="input-11">Website<span class="redColor">*</span> </label>
                                    <input type="text" class="form-control form-control-square" formControlName="Company_website" id="Company_website" 
                                    name="Company_website"  placeholder="Company founded date">
                                    <div *ngIf="submitted && f.Company_website.errors" class="invalid-feedback">
                                        <div *ngIf="f.Company_website.errors.required">Website is a required field.</div> 
                                      </div> 
                                   </div>
                                </div> 
                                <div class="col-sm-12">
                                  <div class="form-group">
                                    <label for="input-11">About<span class="redColor">*</span> </label> 
                                    <textarea class="form-control form-control-square" formControlName="Company_about" rows="6" id="Company_about" 
                                    name="Company_about"  placeholder="About your company"></textarea>
                                    <div *ngIf="submitted && f.Company_about.errors" class="invalid-feedback">
                                        <div *ngIf="f.Company_about.errors.required">About data is not valid.</div> 
                                      </div> 
                                   </div>
                                </div>    

                                <div class="col-sm-6">
                                    <div class="btn-group noShodow">
                                      <div class="form-group">   
                                          <button type="button" (click)="resetForm()" class="btn btn-primary btn-square m-1">
                                            Reset</button>
                                         </div>
                                         <div class="form-group">   
                                             <button type="submit" class="btn btn-primary btn-square m-1">
                                               Update</button>
                                            </div>  
                                    </div> 
                                </div>  

                                <div class="col-sm-6">
                                    <div class="btn-group noShodow gorights">  
                                            <div class="form-group ">  
                                              <button type="button" class="btnCustome" mat-raised-button   matTooltip="Goto next" (click)="gotoBranchTab()">
                                                <span class="zmdi zmdi-chevron-right fa-2x"></span> 
                                              </button> 
                                               </div> 
                                    </div> 
                                </div>   
                                </div>
                        </form>
                        </div>  
                       <div id="tabe-2" class="container tab-pane">
                        <p class="usermsg">This information will be available to other users</p>

                        <div class="col-sm-12">

                          <div id="notSucess" class="{{branchAdded ? 'successClass' : 'notSucess'}}">
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="alert alert-success alert-dismissible cus_success" role="alert">
                                  <button type="button" class="close" data-dismiss="alert">×</button>
                                  <div class="alert-icon">
                                   <i class="zmdi zmdi-check-circle"></i>
                                  </div>
                                  <div class="alert-message">
                                    <span><strong>Success! </strong> New Branch is added.</span>
                                  </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                          </div>
                         <div class="row" *ngIf="hasBranch">
                           <div class="col-sm-4 marg" *ngFor="let branch of branch_List">
                            <mat-card>
                              <h5>
                                {{branch.Company_city}} 
                              </h5>
                              <p>
                                {{branch.Company_city_address}}  
                              </p>

                            </mat-card>  
                           </div>   <br>
                         </div>
                         <hr>

                        <form [formGroup]="Branch_Form" (ngSubmit)="addBranch()"> 
                          <div class="row"> 
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="input-11"> City<span class="redColor">*</span> </label>
                                <input type="text" class="form-control form-control-square" formControlName="Company_city" id="Company_city" 
                                name="Company_city"  placeholder="City name" >
                                <div *ngIf="submittedBranch && b.Company_city.errors" class="invalid-feedback">
                                    <div *ngIf="b.Company_city.errors">Company City Name is a required field.</div> 
                                  </div> 
                               </div>
                            </div> 
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="input-11"> GSTIN  </label>
                                <input type="text" class="form-control form-control-square" formControlName="Company_GSTIN" id="Company_GSTIN" 
                                name="Company_GSTIN"  placeholder="Company GSTIN  " >
                                <div *ngIf="submittedBranch && b.Company_GSTIN.errors" class="invalid-feedback">
                                    <div *ngIf="b.Company_GSTIN.errors.required">Company GSTIN is a required field.</div> 
                                  </div> 
                               </div>
                            </div> 
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="input-11"> Address<span class="redColor">*</span> </label>
                                <textarea class="form-control form-control-square" formControlName="Company_city_address" id="Company_city_address" 
                                name="Company_city_address"  placeholder="Company Branch Address"></textarea>
                                <div *ngIf="submittedBranch && b.Company_city_address.errors" class="invalid-feedback">
                                    <div *ngIf="b.Company_city_address.errors.required">Company City Address is a required field.</div> 
                                  </div> 
                               </div>
                            </div> 
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="input-11"> State  </label>
                                <input type="text" class="form-control form-control-square" formControlName="Company_state" id="Company_state" 
                                name="Company_state"  placeholder="Company state  " >
                                <div *ngIf="submittedBranch && b.Company_state.errors" class="invalid-feedback">
                                    <div *ngIf="b.Company_state.errors.required">Company state is a required field.</div> 
                                  </div> 
                               </div>
                            </div> 
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label for="input-11"> Google map link  </label>
                                <input type="text" class="form-control form-control-square" formControlName="Company_gmap" id="Company_gmap" 
                                name="Company_gmap"  placeholder="Company Google Map Link" >
                                 
                               </div>
                            </div> 
                            <div class="col-sm-6">
                              <div class="btn-group noShodow">
                                <div class="form-group">   
                                    <button type="button" (click)="resetBranchForm()" class="btn btn-primary btn-square m-1">
                                      Reset</button>
                                   </div>
                                  <div class="form-group">   
                                      <button type="submit" class="btn btn-primary btn-square m-1">
                                        Add Branch</button>
                                     </div> 
                              </div> 
                          </div> 

                          <div class="col-sm-6">
                            <div class="btn-group noShodow gorights">  
                                    <div class="form-group ">  
                                      <button type="button" class="btnCustome" mat-raised-button   matTooltip="Goto next" (click)="gotoBankTab()">
                                        <span class="zmdi zmdi-chevron-right fa-2x"></span> 
                                      </button> 
                                       </div> 
                            </div> 
                        </div> 
  
                          </div> 
                        </form> 
                         </div> 
                       <div id="tabe-3" class="container tab-pane"> 
                        <p class="usermsgRed">This information will be confidential.</p>

                        <div class="col-sm-12"> 
                          <div id="notSucess" class="{{bankAdded ? 'successClass' : 'notSucess'}}">
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="alert alert-success alert-dismissible cus_success" role="alert">
                                  <button type="button" class="close" data-dismiss="alert">×</button>
                                  <div class="alert-icon">
                                   <i class="zmdi zmdi-check-circle"></i>
                                  </div>
                                  <div class="alert-message">
                                    <span><strong>Success! </strong> New Bank Account has added.</span>
                                  </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                          </div>
                        <form [formGroup]="Bank_Form" (ngSubmit)="addBank()">         
                          <div class="row" *ngIf="hasBank">
                          <div class="col-sm-4 marg" *ngFor="let bank of bank_List">
                           <mat-card>
                             <h5>
                               {{bank.Bank_name}} 
                             </h5>
                             <p>
                               {{bank.Bank_accountNumber}}  
                             </p>

                           </mat-card>  
                          </div>   <br>
                        </div>
                        <hr>
                          <div class="row"> 
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="input-11"> Bank Name<span class="redColor">*</span> </label>
                                <input type="text" class="form-control form-control-square" formControlName="Bank_name" id="Bank_name" 
                                name="Bank_name"  placeholder="Complete Name of the Bank" >
                                <div *ngIf="submittedBank && bank.Bank_name.errors" class="invalid-feedback">
                                    <div *ngIf="bank.Bank_name.errors.required">Bank Name is a required field.</div> 
                                  </div> 
                               </div>
                            </div>

                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="input-11"> Branch Name<span class="redColor">*</span> </label>
                                <input type="text" class="form-control form-control-square" formControlName="Bank_Branch" id="Bank_Branch" 
                                name="Bank_Branch"  placeholder="  Name of the Branch" >
                                <div *ngIf="submittedBank && bank.Bank_Branch.errors" class="invalid-feedback">
                                    <div *ngIf="bank.Bank_Branch.errors.required">Branch Name is a required field.</div> 
                                  </div> 
                               </div>
                            </div> 

                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="input-11"> Account Number<span class="redColor">*</span> </label>
                                <input type="text" class="form-control form-control-square" formControlName="Bank_accountNumber" id="Bank_accountNumber" 
                                name="Bank_accountNumber"  placeholder=" Account Number">
                                <div *ngIf="submittedBank && bank.Bank_accountNumber.errors" class="invalid-feedback">
                                    <div *ngIf="bank.Bank_accountNumber.errors.required">Account Number is a required field.</div> 
                                  </div> 
                               </div>
                            </div> 

                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="input-11">Confirm Account Number<span class="redColor">*</span> </label>
                                <input type="text" class="form-control form-control-square" formControlName="Bank_accountNumber2" id="Bank_accountNumber2" 
                                name="Bank_accountNumber2"  placeholder=" Account Number">
                                <div *ngIf="submittedBank && bank.Bank_accountNumber2.errors" class="invalid-feedback">
                                    <div *ngIf="bank.Bank_accountNumber2.errors.required">Account Number is a required field.</div> 
                                  </div> 
                               </div>
                            </div> 

                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="input-11"> IFSC<span class="redColor">*</span> </label>
                                <input type="text" class="form-control form-control-square" formControlName="Bank_IFSC" id="Bank_IFSC" 
                                name="Bank_IFSC"  placeholder=" Bank IFSC"> 
                                <div *ngIf="submittedBank && bank.Bank_IFSC.errors" class="invalid-feedback">
                                    <div *ngIf="bank.Bank_IFSC.errors.required">Account Number is a required field.</div> 
                                  </div> 
                               </div>
                            </div> 

                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="input-11"> Branch Adress<span class="redColor">*</span> </label>
                                <textarea class="form-control form-control-square" formControlName="Bank_address" id="Bank_address" 
                                name="Bank_address"  placeholder="  Name of the Branch Adress"></textarea>
                                <div *ngIf="submittedBank && bank.Bank_address.errors" class="invalid-feedback">
                                    <div *ngIf="bank.Bank_address.errors.required">Branch Adress is a required field.</div> 
                                  </div> 
                               </div>
                            </div> 
                            
                            <div class="col-sm-6">
                              <div class="btn-group noShodow">
                                <div class="form-group">   
                                    <button type="button" (click)="resetBankForm()" class="btn btn-primary btn-square m-1">
                                      Reset</button>
                                   </div>
                                  <div class="form-group">   
                                      <button type="submit" class="btn btn-primary btn-square m-1">
                                        Add Bank Account</button>
                                     </div> 
                              </div> 
                          </div>
                          <div class="col-sm-6">
                              <div class="btn-group noShodow gorights">  
                                      <div class="form-group ">  
                                        <button type="button" class="btnCustome" mat-raised-button   matTooltip="Goto next" (click)="gotoGovTab()">
                                          <span class="zmdi zmdi-chevron-right fa-2x"></span> 
                                        </button> 
                                         </div> 
                              </div> 
                          </div> 
 
                          </div>
                          </form>

                       </div>

                       <div id="tabe-4" class="container tab-pane"> 
                        <p class="usermsg">This information will be used for internal purpose.</p>

                        <div class="col-sm-12">

                          <div id="notSucess" class="{{ispreferenceUpdated ? 'successClass' : 'notSucess'}}">
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="alert alert-success alert-dismissible cus_success" role="alert">
                                  <button type="button" class="close" data-dismiss="alert">×</button>
                                  <div class="alert-icon">
                                   <i class="zmdi zmdi-check-circle"></i>
                                  </div>
                                  <div class="alert-message">
                                    <span><strong>Success! </strong> Preferences updated.</span>
                                  </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                          </div>
                        <form [formGroup]="Preferences_Form" (ngSubmit)="UpdatePreferences()"> 
                         <div class="row">
                          <div class="col-sm-12">
 
                            <table class="table table-borderless"> 
                              <tbody>
                                <tr>
                                  <th scope="row">
                                    
                                    <label for="primary">Enable Resource Name Masking</label> &nbsp;
                                  </th>
                                  <td>
                                    <div class="  icheck-inline" *ngFor="let masking of Options">
                                     <input type="radio" id="inline-radio-primary{{masking.id}}" name="masking" [value]="masking.id" [checked]="masking.id ==isMasked" (change)="changeMasking($event)" >
                                     <label for="inline-radio-primary">{{masking.name}}</label>
                                   </div> 
                                     
                                  </td> 
                                </tr>
                                 <tr>  
                                    <th>
                                      <label for="primary">Freelancer can apply ?</label>  &nbsp;
                                      
                                    </th>
                                    <th>
                                      <div class="  icheck-inline" *ngFor="let item of Options">
                                        <input type="radio" id="inline-primary{{item.id}}" name="freelancer" [value]="item.id" [checked]="item.id ==isFreelancer" (change)="changeFreelancer($event)"  >
                                        <label for="inline-radio-primary">{{item.name}}</label>
                                      </div> 
                                    </th>
                                  </tr>
                                  <tr>
                                    <th>
                                      Tier of companies to deal with<span class="redColor">*</span> &nbsp;
                                      
                                    </th>
                                    <th> 
                                      <div class="  icheck-inline" *ngFor="let tier of companyTiers">
                                        <input type="checkbox" id="inline{{tier.id}}" name="tier" [value]="tier.id" [checked]="doesExist(tier.id)" (change)="changeTierList($event)" > &nbsp; 
                                        <label for="inline-radio-primary"> {{tier.name}} </label>
                                      </div> 
                                      
                                    </th>
                                  </tr>
                              </tbody>
                            </table>

                            
                          </div> 
                          <div class="col-sm-12">
                            <div class="btn-group noShodow gorights">
                              
                                <div class="form-group">   
                                    <button type="submit" class="btn btn-primary btn-square m-1">
                                      Update
                                    </button>
                                   </div> 
                            </div> 
                        </div> 
 

                         </div>
                         </form>
                      </div>
                      
                      <div id="tabe-5" class="container tab-pane"> 
                        <p class="usermsgRed">This information will be confidential.</p>


                        <div class="col-sm-12"> 
                          <div id="notSucess" class="{{govUpdated ? 'successClass' : 'notSucess'}}">
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="alert alert-success alert-dismissible cus_success" role="alert">
                                  <button type="button" class="close" data-dismiss="alert">×</button>
                                  <div class="alert-icon">
                                   <i class="zmdi zmdi-check-circle"></i>
                                  </div>
                                  <div class="alert-message">
                                    <span><strong>Success! </strong> IDs updated.</span>
                                  </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                          </div>
                        <div class="row" *ngIf="hasGov">
                          <div class="col-sm-4 marg" *ngFor="let gov of gov_Ids">
                           <mat-card>
                              
                             <p>
                              TAN :  {{gov.Company_TAN}}  
                             </p>
                             <p>
                              CIN :  {{gov.Company_CIN}}  
                             </p>
                             <p>
                              PAN :  {{gov.Company_PAN}}  
                             </p>

                           </mat-card>  
                          </div>   <br> 
                        <hr>
                        </div>

                        <form [formGroup]="Government_Form" (ngSubmit)="addGovernmentIds()"> 
                          <div class="row">

                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="input-11">TAN  </label>
                                <input type="text" class="form-control form-control-square" formControlName="Company_TAN" id="Company_TAN" 
                                name="Company_TAN"  placeholder=" Company TAN"> 
                               </div>
                            </div>

                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="input-11">CIN  </label>
                                <input type="text" class="form-control form-control-square" formControlName="Company_CIN" id="Company_CIN" 
                                name="Company_CIN"  placeholder=" Company CIN"> 
                               </div>
                            </div>

                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="input-11">PAN  </label>
                                <input type="text" class="form-control form-control-square" formControlName="Company_PAN" id="Company_PAN" 
                                name="Company_PAN"  placeholder=" Company PAN"> 
                               </div>
                            </div>
                            </div>
                            <div class="row">  
                          <div class="col-sm-6">
                            <div class="btn-group noShodow">
                              
                                <div class="form-group">   
                                    <button type="submit" class="btn btn-primary btn-square m-1">
                                      Add
                                    </button>
                                   </div> 
                            </div> 
                        </div>
                        <div class="col-sm-6">
                            <div class="btn-group noShodow gorights">  
                                    <div class="form-group ">  
                                      <button type="button" class="btnCustome" mat-raised-button   matTooltip="Goto next" (click)="gotoPreferencesTab()">
                                        <span class="zmdi zmdi-chevron-right fa-2x"></span> 
                                      </button> 
                                       </div> 
                            </div> 
                        </div>   

                          </div>

                        </form>

                      </div>
                     </div>
                   </div>
                </div>
     
             </div>
         </div>




<div class="overlay toggle-menu"></div> 
</div>
</div> 
<app-footer></app-footer>