
<app-menubar></app-menubar>
<div class="content-wrapper">
   <div class="container-fluid">

    <div class="row pt-2 pb-2">
        <div class="col-sm-9">
            <h4 class="page-title"> Create New Project </h4> 
       </div> 
       </div> 

    <div class="card">
        <div class="card-body">  
            <form [formGroup]="Project_Form" (ngSubmit)="onSubmit()">

       <div class="row">
        <div class="col-sm-4"> 
            <div class="form-group">
             <label for="input-11">Project Name  </label>
             <input type="text" class="form-control form-control-square" formControlName="Project_name"   id="Project_name" 
             name="Project_name"  placeholder="Project Name " > 
            </div>
        </div>
        <div class="col-sm-4"> 
            <div class="form-group">
             <label for="input-11">Location  </label>
             <input type="text" class="form-control form-control-square" formControlName="Project_location"  id="Project_location" 
             name="Project_location"  placeholder="Location   " > 
            </div>
        </div>

        <div class="col-sm-4"> 
            <div class="form-group">
             <label for="input-11">Start Date </label>
             <input type="date" class="form-control form-control-square" formControlName="Start_date"  id="Start_date" 
             name="Start_date"  placeholder="Start Date  " > 
            </div>
        </div>

        <div class="col-sm-4"> 
            <div class="form-group">
             <label for="input-11">End Date </label>
             <input type="date" class="form-control form-control-square" formControlName="End_date"  id="End_date" 
             name="End_date"  placeholder="End_date" > 
            </div>
        </div>

        <div class="col-sm-4"> 
            <div class="form-group">
             <label for="input-11">Remote Availability </label> <br>
             <mat-radio-group aria-label="Select an option" formControlName="Need_remote" name="Need_remote">
                <mat-radio-button value="YES"  > Yes</mat-radio-button>
                <mat-radio-button value="NO">NO</mat-radio-button>
              </mat-radio-group>
            </div>
        </div>

        <div class="col-sm-4"> 
            <div class="form-group">
             <label for="input-11">Project status</label> <br>
             <mat-radio-group aria-label="Select an option" formControlName="Status" name="Status">
                <mat-radio-button value="ACTIVE"  > Active</mat-radio-button>
                <mat-radio-button value="NONACTIVE">Non Active</mat-radio-button>
              </mat-radio-group>
            </div>
        </div>

        <div class="col-sm-12"> 
            <div class="form-group">
             <label for="input-11">Desciption  </label>
             <textarea class="form-control form-control-square" rows="8" formControlName="Description" name="Description"></textarea>
            </div>
        </div>  
       </div>
       <div class="row"> 
        <div class="col-sm-12">
        <div class="right">
            <button type="submit" class="btn btn-primary m-1"   >
                Proceed <span class="fa fa-share"></span> </button>
        </div>
    </div>
</div>
 </form>

       </div>
       </div>





       <div class="overlay toggle-menu"></div> 
    </div>
    </div> 
<app-footer></app-footer>