<app-menubar></app-menubar>
 <div class="content-wrapper">
    <div class="container-fluid">
 
        <div class="row pt-2 pb-2">
            <div class="col-sm-9">
                <h4 class="page-title">Let's Chat  </h4> 
           </div> 
         </div>   


         <div class="card bg-white">
            <div class=" "> 
                
                <div class="chatsection">
   <!-- <div *ngFor="let msg of msgs">
                    <div class="row">
                        <div class="col-sm-1">
                            <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="" class="chatpic "> 
                         </div>
                        <div class="col-sm-10"> 
                            <div class="rightmsg">
                              <p> 
                                  {{msg.Message}}
                              </p>
                            </div><i class="chattime">12.00pm</i> 
    
                        </div>
                    </div>
                    <hr>
                   </div> -->

                    <section class="chat"> 
                        <div class="messages-chat">



                          <div *ngFor="let msg of msgs">
                            <div *ngIf="msg.Sender_id == User_id">
                           <div class="message" >
                            <div class="photo" style="background-image: url({{User_photo}});">
                              <div class="online"></div>
                            </div>
                            <p class="text"> {{msg.Message}} </p>
                          </div> 
                          <!-- <div class="message text-only">
                            <p class="text"> {{msg.Message}} </p>
                          </div> -->
                          <p class="time"> {{msg.createdAt |   date:'medium'}}</p> 
                        </div>

                        <div *ngIf="msg.Reciver_id == User_id">
 
                          <div class="message text-only">
                            <div class="response">
                              <p class="text"> {{msg.Message}}</p>
                            </div>
                            <div class="photo" style="background-image: url({{LManager_photo}});">
                                <div class="online"></div>
                              </div>
                          </div>
                          <!-- <div class="message text-only">
                            <div class="response">
                              <p class="text"> When can we meet ?</p>
                            </div>
                          </div> -->
                          <p class="response-time time"> 15h04</p>
                          </div>

                        </div>

                           
                        </div> 
                      </section>
 
                        
                </div>
         
        <div class="sendsec">
            <form [formGroup]="Msg_Form" (ngSubmit)="sendMsg()" (keydown)="keyDownFunction($event)">

            <div class="row">
               <div class="col-sm-12"> 
                <mat-form-field appearance="outline" class="widthfull" >
                    <mat-label>Type your message here...</mat-label>
                <textarea matInput   formControlName="Message_send" id="Message_send" #myInput
                    name="Message_send"></textarea>
                    {{ myInput.focus() }}

                  </mat-form-field> 
                </div>
            </div> 
            <div class="row">
               <div class="col-sm-12"> 
            <div class="goright">
                <button mat-icon-button color="primary" type="submit" >
                    Send <span class="fa fa-send"></span>
                  </button>
              </div>
            </div>
         </div> 
</form>
        </div>
 

            </div>
        </div>
 




        <div class="overlay toggle-menu"></div> 
        </div>
        </div> 
<app-footer></app-footer>