<app-menubar></app-menubar>
<div class="content-wrapper">
   <div class="container-fluid">

    <div class="row pt-2 pb-2">
        <div class="col-sm-6">
            <h4 class="page-title"> Assignment Lists</h4> 
       </div> 
       <div class="col-sm-6">
        <div class="right">
        <button type="button" class="btn btn-primary m-1" (click)="createAssignment()" >
            Create New <span class="fa fa-plus"></span> </button>
    </div> 
    </div>
       </div> 

       <div class="card">
        <div class="card-body">  
            <p class="pTitle"> PROJECT : {{projectName}} </p>
       <div class="row"> 
        <div class="col-sm-12">


            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="No">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                      <td mat-cell *matCellDef="let element;let i = index;"> {{i + 1}} </td>
                    </ng-container>
                   
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="Requirement_name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Requirement </th>
                      <td mat-cell *matCellDef="let element"> {{element.Requirement_name}} &nbsp;</td>
                    </ng-container>
                   
                    <ng-container matColumnDef="No_of_resources">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Resources </th>
                      <td mat-cell *matCellDef="let element"> {{element.No_of_resources}} </td>
                    </ng-container> 
                   
                    <ng-container matColumnDef="Hours_per_day">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hours/day </th>
                      <td mat-cell *matCellDef="let element"> {{element.Hours_per_day}} </td>
                    </ng-container> 
                   
                    <ng-container matColumnDef="Hours_per_week">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hours/week </th>
                      <td mat-cell *matCellDef="let element"> {{element.Hours_per_week}} </td>
                    </ng-container> 
                   
                    <ng-container matColumnDef="Hours_per_month">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hours/month </th>
                      <td mat-cell *matCellDef="let element"> {{element.Hours_per_month}} </td>
                    </ng-container> 
                   
                    <ng-container matColumnDef="Action">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                      <td mat-cell *matCellDef="let element"> 
                        <button mat-button color="primary" (click)="findMatching(element.Requirement_id)">Find matching <span class="fa fa-users"></span> </button>

                    </td>
                    </ng-container> 
                    
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
                  </table>
                  <mat-paginator [pageSizeOptions]="[5, 10, 50 , 100]" showFirstLastButtons></mat-paginator>
                  </div> 
                  </div>
                  </div>

    </div>
</div>




       <div class="overlay toggle-menu"></div> 
    </div>
    </div> 
<app-footer></app-footer>