<app-menubar></app-menubar>
 <div class="content-wrapper">
    <div class="container-fluid">
 
        <div class="row pt-2 pb-2">
            <div class="col-sm-9">
                <h4 class="page-title">Delegate Management</h4> 
           </div> 
         </div>   

         <div class="delegate_sec">
            <div class="row">
                <div class="col-lg-12">
                   <div class="card">
                      <div class="card-body"> 
                        <ul class="nav nav-tabs nav-tabs-info nav-justified">
                          <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#piil-13" ><i class="icon-home"></i> 
                                <span class="hidden-xs">Current Delegates</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link " data-toggle="pill" href="#piil-14"><i class="icon-user"></i> 
                                <span class="hidden-xs">Create Delegate</span></a>
                          </li>
                         
                        </ul>
        
                        <!-- Tab panes -->
                        <div class="tab-content">
                          <div id="piil-13" class="container tab-pane active"> 
                              <div class="delegate_list">  
                                <div class="row">
                                    <div class="col-lg-12">
                                            <div class="table-responsive">
                                          <table id="default-datatable" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Designation</th>
                                                    <th>Phone</th> 
                                                    <th>Action</th> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of delegateData">
                                                  <th>{{ item.User_firstname }}</th>
                                                  <td>{{ item.User_email }}</td>
                                                  <td>{{ item.User_designation }}</td>
                                                  <td>{{ item.User_phonenumber }}</td> 
                                                    <td> 
                                                    <div class="btn-group m-1">
                                                        <button type="button" class="btn btn-outline-primary" (click)="editDelegatePage(item.User_id)">
                                                            <span class="fa fa-edit"> </span></button>
                                                        <button class="btn btn-outline-danger" (click)="deleteDelegate(item.User_id)">
                                                            <span class="fa fa-trash"> </span></button> 
                                                        </div> 
                                                        </td>
                                                </tr>
                                            </tbody> 
                                        </table>
                                        </div> 
                                     </div>
                                  </div> 
                              </div>

                          </div>
                          <div id="piil-14" class="container tab-pane fade">

                      <div id="notSucess" class="{{isUpdated ? 'successClass' : 'notSucess'}}">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="alert alert-success alert-dismissible cus_success" role="alert">
                              <button type="button" class="close" data-dismiss="alert">×</button>
                              <div class="alert-icon">
                               <i class="zmdi zmdi-check-circle"></i>
                              </div>
                              <div class="alert-message">
                                <span><strong>Success! </strong> You have created a Delegate.</span>
                              </div>
                              </div>
                          </div>
                        </div>
                      </div>
                            <form [formGroup]="delegateForm" (ngSubmit)="onSubmit()">
                                <div class="row"> 
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label for="input-11">Delegate Full name<span class="redColor">*</span></label>
                                        <input type="text" class="form-control form-control-square" formControlName="Delegate_fullname" id="Delegate_fullname" 
                                        name="Delegate_fullname"  placeholder="Full Name">
                                        <div *ngIf="submitted && f.Delegate_fullname.errors" class="invalid-feedback">
                                            <div *ngIf="f.Delegate_fullname.errors.required">First name is a required field.</div> 
                                          </div> 
                                       </div>
                                    </div> 
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label for="input-11">Email ID<span class="redColor">*</span></label>
                                        <input type="email" class="form-control form-control-square" formControlName="Delegate_email" id="Delegate_email" 
                                        name="Delegate_email"  placeholder="Email ID">
                                        <div *ngIf="submitted && f.Delegate_email.errors" class="invalid-feedback">
                                            <div *ngIf="f.Delegate_email.errors.required">Email ID is a required field.</div> 
                                          </div> 
                                       </div>
                                    </div> 
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label for="input-11">Delegate Designation<span class="redColor">*</span></label>
                                        <input type="text" class="form-control form-control-square" formControlName="Delegate_designation" id="Delegate_designation" 
                                        name="Delegate_designation"  placeholder="Designation">
                                        <div *ngIf="submitted && f.Delegate_designation.errors" class="invalid-feedback">
                                            <div *ngIf="f.Delegate_designation.errors.required">Designation is a required field.</div> 
                                          </div> 
                                       </div>
                                    </div> 
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label for="input-11">Delegate Phone<span class="redColor">*</span></label>
                                        <input type="text" class="form-control form-control-square" formControlName="Delegate_phone" id="Delegate_phone" 
                                        name="Delegate_phone"  placeholder="Phone Number">
                                        <div *ngIf="submitted && f.Delegate_phone.errors" class="invalid-feedback">
                                            <div *ngIf="f.Delegate_phone.errors.required">Phone is a required field.</div> 
                                          </div> 
                                       </div>
                                    </div> 
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label for="input-11">Delegate Password<span class="redColor">*</span> </label>
                                        <input [type]="fieldTextType ? 'text' : 'password'" class="form-control form-control-square" formControlName="Delegate_password" id="Delegate_password" 
                                        name="Delegate_password"  placeholder="Password">
                                        <div *ngIf="submitted && f.Delegate_password.errors" class="invalid-feedback">
                                            <div *ngIf="f.Delegate_password.errors.required">Password is a required field.</div> 
                                          </div> 
                                       </div>
                                    </div> 
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label for="input-11">Confirm Password<span class="redColor">*</span> </label>
                                        <input [type]="fieldTextType ? 'text' : 'password'" class="form-control form-control-square" formControlName="Delegate_password2" id="Delegate_password2" 
                                        name="Delegate_password2"  placeholder="Confirm Password">
                                        <div *ngIf="submitted && f.Delegate_password2.errors" class="invalid-feedback">
                                            <div *ngIf="f.Delegate_password2.errors.required">Password is a required field.</div> 
                                          </div> 
                                       </div>
                                    </div> 
                                    <div class="col-sm-6"> 
                                        <div class="icheck-material-primary">
                                          <input type="checkbox" id="primary" checked="" (click)="toggleFieldTextType()">
                                          <label for="primary">Hide password</label>
                                      </div>  
                                    </div> 
                                    <div class="col-sm-6"></div>
                                      <div class="col-sm-6">
                                        <div class="btn-group noShodow">
                                          <div class="form-group">  
                                              <button type="button" (click)="resetForm()" class="btn btn-primary btn-square m-1">Reset</button>
                                             </div>
                                            <div class="form-group">  
                                                <button type="submit" class="btn btn-primary btn-square m-1">Create New</button>
                                               </div> 
                                        </div> 
                                    </div> 

                                    </div>

                            </form>
                        </div> 
                        </div>
                      </div>
                   </div>
                </div> 
              </div>

         </div>




        <div class="overlay toggle-menu"></div> 
        </div>
        </div> 
<app-footer></app-footer>