<app-menubar></app-menubar>
 <div class="content-wrapper">
    <div class="container-fluid">
 
        <div class="row pt-2 pb-2">
            <div class="col-sm-9">
                <h4 class="page-title">Profile</h4> 
           </div> 
         </div>  
         <form [formGroup]="updateContractorForm" (ngSubmit)="onSubmit()" >

          <div class="row">
            <div class="col-lg-4">
              <div class="card">
                 <div class="card-body">
                   <div class="row align-items-center">
                     <div class="col text-left">
                       <i class="zmdi zmdi-share fa-2x"></i>
                     </div>
                     <div class="col text-right">
                       <i class="zmdi zmdi-more-vert fa-2x"></i>
                     </div>
                   </div>
                    <div class="text-center">  
                     <div class="profile-card py-5">
                       <img src="https://via.placeholder.com/110X110" class="rounded-circle" alt="user avatar">
                     </div>
                     <h5 class="text-uppercase">{{Contractor_firstName + Contractor_secondName}}</h5>
                     <p class="">{{Contractor_designation}} at {{Company_name}}</p>  
                        <div class="list-inline mt-4">
                         <a href="javascript:void()" class="btn-social btn-social-circle btn-facebook m-1"><i class="fa fa-facebook"></i></a>
                         <a href="javascript:void()" class="btn-social btn-social-circle btn-twitter m-1"><i class="fa fa-twitter"></i></a>
                         <a href="javascript:void()" class="btn-social btn-social-circle btn-google-plus m-1"><i class="fa fa-google-plus"></i></a>
                      </div>
                    </div>
                 </div>
               </div>  
            </div> 
            <div class="col-lg-8">
              <div class="card">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col">
                      <h6 class="mb-0 text-uppercase">Edit profile </h6>
                    </div>
                    <div class="col text-right">
                      <i class="zmdi zmdi-more-vert fa-2x"></i>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="profile-form"> 
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-first-name">First name</label>
                            <input type="text" id="input-first-name" class="form-control" formControlName="Contractor_firstName_Crl" 
                            placeholder="First name" value="{{Contractor_firstName}}" >
                            <div *ngIf="submitted && f.Contractor_firstName_Crl.errors" class="invalid-feedback">
                              <div *ngIf="f.Contractor_firstName_Crl.errors.required">First name is a required field.</div> 
                            </div> 
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-last-name">Last name</label>
                            <input type="text" id="input-last-name" class="form-control" formControlName="Contractor_secondName_Crl" 
                            placeholder="Last name" value="{{Contractor_secondName}}" >
                            <div *ngIf="submitted && f.Contractor_secondName_Crl.errors" class="invalid-feedback">
                              <div *ngIf="f.Contractor_secondName_Crl.errors.required">Last name is a required field.</div> 
                            </div> 
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-username">Contact Number</label>
                            <input type="text" id="input-username" class="form-control" formControlName="Contract_phone_Crl" 
                            placeholder="Phone number" value="{{Contractor_phone}}" required>
                            <div *ngIf="submitted && f.Contract_phone_Crl.errors" class="invalid-feedback">
                              <div *ngIf="f.Contract_phone_Crl.errors.required">Last name is a required field.</div> 
                            </div> 
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-email">Email address</label>
                            <input type="email" id="input-email" class="form-control" formControlName="Contractor_email_Crl" 
                            placeholder="gracie@example.com"  value="{{Contractor_email}}" required>
                            <div *ngIf="submitted && f.Contractor_email_Crl.errors" class="invalid-feedback">
                              <div *ngIf="f.Contractor_email_Crl.errors.required">Last name is a required field.</div> 
                          </div>
                        </div>
                      </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-username">Designation</label>
                            <input type="text" id="input-username" class="form-control" formControlName="Contract_designation_Crl" 
                            placeholder="Phone number" value="{{Contractor_designation}}" required>
                            <div *ngIf="submitted && f.Contract_designation_Crl.errors" class="invalid-feedback">
                              <div *ngIf="f.Contract_designation_Crl.errors.required">Last name is a required field.</div> 
                          </div>
                        </div> 
                      </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4"> 
                        </div> 
                        <div class="col-lg-4">
                          <button type="submit" class="btn btn-info btn-square m-1">Click to update</button>
                        </div> 
                        <div class="col-lg-4"> 
                        </div> 
                      </div>
                      <div id="notSucess" class="{{isUpdated ? 'successClass' : 'notSucess'}}">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="alert alert-success alert-dismissible cus_success" role="alert">
                              <button type="button" class="close" data-dismiss="alert">×</button>
                              <div class="alert-icon">
                               <i class="zmdi zmdi-check-circle"></i>
                              </div>
                              <div class="alert-message">
                                <span><strong>Success! </strong> Your profile has been updated.</span>
                              </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="my-4"> 
                  </div>
                </div>
              </div> 
            </div>
            
        </div> 
        </form>






        <div class="overlay toggle-menu"></div> 
        </div>
        </div> 
<app-footer></app-footer>