
<app-menubar></app-menubar>
<div class="content-wrapper">
   <div class="container-fluid">

    <div class="row pt-2 pb-2">
        <div class="col-sm-9">
            <h4 class="page-title"> Add an Assignment</h4> 
       </div> 
       </div> 

    <div class="card">
        <div class="card-body">  
            <form [formGroup]="Requirement_Form" (ngSubmit)="onSubmit()">
 

                <mat-horizontal-stepper  #stepper>
                    <mat-step [stepControl]="Requirement_Form" >
                         <ng-template matStepLabel>Requirement Duration</ng-template>


                         <div class="row">
                            <div class="col-sm-4"> 
                                <div class="form-group">
                                 <label for="input-11">Project Name<span class="redColor">*</span> </label>
                                 <input type="text" #pName class="form-control form-control-square" formControlName="Project_name"   id="Project_name" required 
                                 name="Project_name"  placeholder="Project Name " readonly> 
                                 
                                </div>
                            </div>
                            <div class="col-sm-4"> 
                                <div class="form-group">
                                 <label for="input-11">Requirement Name<span class="redColor">*</span> </label>
                                 <input type="text" #rName class="form-control form-control-square" formControlName="Requirement_name"   id="Requirement_name" required 
                                 name="Requirement_name"  placeholder="Requirement Name "  > 
                                 
                                </div>
                            </div>

                            <div class="col-sm-4"> 
                                <div class="form-group">
                                 <label for="input-11">Number of Resources<span class="redColor">*</span> </label>
                                 <input type="number" #Nresources class="form-control form-control-square" formControlName="No_of_resources"   id="No_of_resources" required 
                                 name="No_of_resources"  placeholder="Number of Resources"  > 
                                 
                                </div>
                            </div>
                            <div class="col-sm-3"> 
                                <div class="form-group">
                                 <label for="input-11">Estimated Duration (Weeks)<span class="redColor">*</span> </label>
                                 <input type="number" #eTime class="form-control form-control-square" formControlName="Week_duration"   id="Week_duration" required 
                                 name="Week_duration"  placeholder="Week duration"  > 
                                 
                                </div>
                            </div>
                            <div class="col-sm-3"> 
                                <div class="form-group">
                                 <label for="input-11">Min Guranteed Duration (Weeks)  </label>
                                 <input type="number" #mgTime class="form-control form-control-square" formControlName="Week_must_time"   id="Week_must_time" required 
                                 name="Week_must_time"  placeholder="Mandatory Duration in Weeks"  > 
                                 
                                </div>
                            </div>
                            <div class="col-sm-3"> 
                                <div class="form-group">
                                 <label for="input-11">Start Date </label>
                                 <input type="date" #sTime class="form-control form-control-square" 
                                 formControlName="Start_date"   id="Start_date" required 
                                 min="{{project_stime}}" 
                                 max="{{project_etime}}"
                                 name="Start_date"> 
                                 
                                </div>
                            </div>
                            <div class="col-sm-3"> 
                                <div class="form-group">
                                 <label for="input-11">End Date </label>
                                 <input type="date" #eTime class="form-control form-control-square" formControlName="End_date"   id="End_date" required 
                                 name="End_date"  min="{{project_stime}}" max="{{project_etime}}"   > 
                                 
                                </div>
                            </div>
                             

                            <div class="col-sm-4"> 
                                <div class="form-group">
                                 <label for="input-11">Hour/Month  </label>
                                 <input type="number" #hmonth class="form-control form-control-square" formControlName="Hours_per_month"   id="Hours_per_month" required 
                                 name="Hours_per_month"  placeholder="Hours per month"   > 
                                 
                                </div>
                            </div>
                                <div class="col-sm-4"> 
                                <div class="form-group">
                                 <label for="input-11">Hours/Week </label>
                                 <input type="number" #hWeek class="form-control form-control-square" formControlName="Hours_per_week"   id="Hours_per_week" required 
                                 name="Hours_per_week"  placeholder="Hours per week" > 
                                 
                                </div>
                            </div>
                            <div class="col-sm-4"> 
                                <div class="form-group">
                                 <label for="input-11">Hour/Day  </label>
                                 <input type="number" #hDay class="form-control form-control-square" formControlName="Hours_per_day"   id="Hours_per_day" required 
                                 name="Hours_per_day"  placeholder="Project Name "  > 
                                 
                                </div>
                            </div>
                            <div class="col-sm-12"> 
                                <div class="form-group">
                                 <label for="input-11">Description<span class="redColor">*</span> </label>
                                 <textarea #description formControlName="Requirements_description" id="Requirements_description" class="form-control form-control-square" name="" id="" cols="30" rows="7"></textarea>
                                 
                                </div>
                            </div> 
                           </div>   
                        <div class="goRight">
                          <button type="button" mat-raised-button color="primary" matStepperNext>Next 
                            <span class="fa fa-forward"></span> </button>
                        </div> 
                    </mat-step>




                    <mat-step [stepControl]="Requirement_Form"  >
   

                        <ng-template matStepLabel>Skills</ng-template>
                        <form [formGroup]="techFormGroup" (ngSubmit)="addTechnology()">
                         <label for="input-11"> Choose Technology<span class="redColor">*</span></label><br>

                          <div class="row"> 
                             <div class="col-sm-12">
                               <mat-accordion>
                                 <div class="marg" *ngFor="let techncat of tech_lists; let i=index">
                                 <mat-expansion-panel hideToggle>
                                   <mat-expansion-panel-header>
                                     <mat-panel-title>
                                         {{techncat.Technology_category}} 
                                     </mat-panel-title> 
                                   </mat-expansion-panel-header>
                                     <mat-panel-description>
                                         <div class="row">
                                             <div class="col-sm-12">
                                             <div class="Acheckbox icheck-inline" *ngFor="let technology of techncat['TechnologyTbs']; let j=index">
                                             <label class="container">   
                                             <!-- <input type="checkbox"  value ="{{technology.Technology_name}}" (change)="selectTech($event)">
                                               -->
                                                   <button mat-raised-button   (click)="PopupTechnology(technology.Technology_name)">
                                                     {{technology.Technology_name}}
                                                   </button>

                                             </label>
                                             </div> 
                                             </div> 
                                             </div>
                                     </mat-panel-description> 
                                 </mat-expansion-panel>
                                 </div>
                                 </mat-accordion>

                              
                         </div> 
                          </div>
                          <br>
                          <p>Add custome technology <i>(Approval required by Admin)</i> </p> 
                        <div class="row">
                         <div class="col-sm-3">

                      <div class="form-group">
                        <label for="input-11"> Technology Name<span class="redColor">*</span></label>
                        <input type="text" class="form-control form-control-square" formControlName="Technology_name" id="Technology_name" 
                        name="Technology_name"  placeholder="Technology Name">
                       </div>
                         </div>
                         <div class="col-sm-2">
                      <div class="form-group">
                        <label for="input-11"> Technology Version<span class="redColor">*</span></label>
                        <input type="text" class="form-control form-control-square" formControlName="Technology_version" id="Technology_version" 
                        name="Technology_version"  placeholder="Total Experience of the resource">
                       </div>
                         </div>
                         <div class="col-sm-2">
                      <div class="form-group">
                        <label for="input-11"> Experience(years)<span class="redColor">*</span></label>
                        <input type="number" class="form-control form-control-square" formControlName="Technology_experience" id="Technology_experience" 
                        name="Technology_experience"  placeholder="Total Experience of the resource">
                       </div> 
                         </div>
                         <div class="col-sm-4">
                      <div class="form-group">
                        <label for="input-11"> Expertise Level<span class="redColor">*</span></label><br>
                        <mat-radio-group aria-label="Select an option" formControlName="Technology_level" id="Technology_level" 
                       name="Technology_level">
                       <mat-radio-button value="BEGGINER" >BEGINNER</mat-radio-button>&nbsp; 
                       <mat-radio-button value="INTERMEDIATE" >INTERMEDIATE</mat-radio-button>&nbsp;<mat-radio-button value="EXPERT" [checked]="true">EXPERT</mat-radio-button>
                       </mat-radio-group> 
                       </div> 
                         </div>
                         <div class="col-sm-3">

                      <div class="form-group">
                       <button type="submit" mat-raised-button color="primary">Add</button>
                     </div>
                         </div> 
                         <div class="col-sm-12" id="goup"> 
                           <div class="row">
                             <div class="inlinCol" *ngFor="let technology of technology_list " > 
                              <button type="button" class="btn-social-text btn-youtube btn-round waves-effect waves-light m-1 ">
                                 <span>{{technology.Technology}} </span>  
                              </button>

                            </div>
                           </div> 
                         </div>

                        </div>
                       </form> 
                        <div class="goRight">
                         <button type="button" mat-button matStepperPrevious>Back</button>
                         <button type="button" mat-raised-button color="primary" matStepperNext>Next 
                          <span class="fa fa-forward"></span> </button>
                        </div>





                    </mat-step>
 
                <mat-step>
                    <ng-template matStepLabel>Domains</ng-template>
                    <form [formGroup]="domainFormGroup" (ngSubmit)="addDomain()">  
                      <div class="row"> 
                         <div class="form-group">
                           <label for="input-11">Domain Lists<span class="redColor">*</span> </label><br>
                           <div class="Acheckbox icheck-inline col-sm-3" *ngFor="let domain of RDomains_List; let i=index">
                              <label class="container2 "> {{domain.Domain}}
                                  <input type="checkbox"  value ="{{domain.Domain}}" (change)="domainChange($event)">
                                  <span class="checkmark"></span>
                                  </label>
                            </div>  
                          </div> 
                       </div> 
                      <p>Don't find the required domain ? Add custome domain</p>

                    <div class="row"> 
                     <div class="col-sm-4"> 
                       <div class="form-group">
                         <label for="input-11"> Domain<span class="redColor">*</span></label>
                         <input type="text" [checked]="false" class="form-control form-control-square" formControlName="Domain_name" id="Domain_name" 
                         name="Domain_name"  placeholder="Domain / Sector name">
                        </div> 
                          </div> 
                          <div class="col-sm-4"> 

                           
                        <div class="form-group">
                         <label for="input-11"> Duration<span class="redColor">*</span></label> 
                             <div class="input-group">
                               <input type="date" class="form-control form-control-square" formControlName="Domain_duration" id="Domain_duration" 
                               name="Domain_duration"  placeholder="  Duration in years">                                                      
                               <div class="input-group-append">
                                 <span class="input-group-text">
                                   <button type="submit" mat-raised-button color="primary" >Add</button>

                                 </span>
                               </div>
                               </div>
                            </div> 

                               </div>
                               <div class="col-sm-12"> 
                                 <div class="row">
                                   <div class="inlinCol" *ngFor="let domain of domain_list " > 
                                    <button type="button" class="btn-social-text btn-youtube btn-round waves-effect waves-light m-1 ">
                                       <span>{{domain.Domain}} </span>  
                                    </button> 
                                  </div>
                                 </div> 
                               </div>  

                               <div class="col-sm-12">

                         <div id="notSucess" class="{{isDoaminError ? 'successClass' : 'notSucess'}}">
                           <div class="row">
                             <div class="col-sm-12">
                               <div class="alert alert-danger alert-dismissible" role="alert">
                                 <button type="button" class="close" data-dismiss="alert">×</button>
                                 <div class="alert-icon">
                                  <i class="zmdi zmdi-check-circle"></i>
                                 </div>
                                 <div class="alert-message">
                                   <span><strong>Error! </strong> Please fill all the data.</span>
                                 </div>
                                 </div>
                             </div>
                           </div>
                         </div>
                         </div>
                           </div> 
                           </form>

                    <div class="goRight">
                     <button type="button" mat-button matStepperPrevious>Back</button>
                     <button type="button" mat-raised-button color="primary" matStepperNext>Next 
                      <span class="fa fa-forward"></span> </button>
                    </div>
                </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Education</ng-template>



                        <form [formGroup]="educationFormGroup" (ngSubmit)="addEducation()">
                          <div class="row"> 
                            <div class="form-group">
                              <label for="input-11">Education Lists<span class="redColor">*</span> </label><br>
                              <div class="Acheckbox icheck-inline col-sm-3" *ngFor="let edu of educations; let i=index">
                                 <label class="container2 "> {{edu.Qualification}}
                                     <input type="checkbox"  value ="{{edu.Qualification}}" (change)="educationChange($event)">
                                     <span class="checkmark"></span>
                                     </label>
                               </div>  
                             </div> 
                          </div> 
                          <i>Request an extra Education data</i>

                          <div class="row"> 
                           <div class="col-sm-4"> 
                             <div class="form-group">
                               <label for="input-11"> Education<span class="redColor">*</span></label>
                               <input type="text" class="form-control form-control-square" formControlName="Education" id="Education" 
                               name="Education"  placeholder="Education name">
                              </div> 
                                </div> 
                                <div class="col-sm-4"> 
                                  
                             <div class="form-group">
                              <label for="input-11"> Completed year<span class="redColor">*</span></label> 
                                  <div class="input-group">
                                    <input type="date" class="form-control form-control-square" formControlName="Pass_year" id="Pass_year" 
                                    name="Pass_year"  placeholder="Completed year">                                                      
                                    <div class="input-group-append">
                                      <span class="input-group-text">
                                        <button type="submit" mat-raised-button color="primary" >Add</button>

                                      </span>
                                    </div>
                                    </div>
                                 </div>
                                     </div>   


                                     <div class="col-sm-12"> 
                                       <div class="row">
                                         <div class="inlinCol" *ngFor="let edu of education_list " > 
                                          <button type="button" class="btn-social-text btn-youtube btn-round waves-effect waves-light m-1 ">
                                             <span>{{edu.Education}} </span>  
                                          </button> 
                                        </div>
                                       </div> 
                                     </div>

                                     <div class="col-sm-12">

                               <div id="notSucess" class="{{isEduError ? 'successClass' : 'notSucess'}}">
                                 <div class="row">
                                   <div class="col-sm-12">
                                     <div class="alert alert-danger alert-dismissible" role="alert">
                                       <button type="button" class="close" data-dismiss="alert">×</button>
                                       <div class="alert-icon">
                                        <i class="zmdi zmdi-check-circle"></i>
                                       </div>
                                       <div class="alert-message">
                                         <span><strong>Error! </strong> Please fill all the data.</span>
                                       </div>
                                       </div>
                                   </div>
                                 </div>
                               </div>
                               </div>
                          </div> 
                          </form> 
                        <div class="goRight">
                          <button type="button" mat-button matStepperPrevious>Back</button>
                          <button type="button" mat-raised-button color="primary" matStepperNext>Next 
                            <span class="fa fa-forward"></span> </button>
                        </div>
                    </mat-step>                 
                <mat-step>
                    <ng-template matStepLabel>Experience</ng-template>
                    <form [formGroup]="jobRoleFormGroup" (ngSubmit)="addJobTitle()">
                     <div class="row"> 
                       <div class="form-group">
                         <label for="input-11">Job Role<span class="redColor">*</span> </label><br>
                         <div class="Acheckbox icheck-inline col-sm-3" *ngFor="let role of RJobRoles_List; let i=index">
                            <label class="container2 "> {{role.Role_name}}
                                <input type="checkbox" [checked]="false" value ="{{role.Role_name}}" (change)="roleChange($event)">
                                <span class="checkmark"></span>
                                </label>
                          </div>  
                        </div> 
                     </div> 
                     <p>Don't find the required Title ? Add custome Title</p>

                    <div class="row"> 
                     <div class="col-sm-4"> 
                       <div class="form-group">
                         <label for="input-11"> Job / Title<span class="redColor">*</span></label>
                         <input type="text" class="form-control form-control-square" formControlName="Job_title" id="Job_title" 
                         name="Job_title"  placeholder="Job title">
                        </div> 
                          </div> 
                          <div class="col-sm-4"> 

                        <div class="form-group">
                         <label for="input-11"> Duration<span class="redColor">*</span></label> 
                             <div class="input-group">
                               <input type="date" class="form-control form-control-square" formControlName="Job_duration" id="Job_duration" 
                               name="Job_duration"  placeholder="Job Duration in years">                                                      
                               <div class="input-group-append">
                                 <span class="input-group-text">
                                   <button type="submit" mat-raised-button color="primary" >Add</button>

                                 </span>
                               </div>
                               </div>
                            </div> 
                               </div> 
                               <div class="col-sm-12"> 
                                 <div class="row">
                                   <div class="inlinCol" *ngFor="let job of jobRole_list " > 
                                    <button type="button" class="btn-social-text btn-youtube btn-round waves-effect waves-light m-1 ">
                                       <span>{{job.Job_title}} </span>  
                                    </button> 
                                  </div>
                                 </div> 
                               </div> 

                               <div class="col-sm-12">

                         <div id="notSucess" class="{{isJobError ? 'successClass' : 'notSucess'}}">
                           <div class="row">
                             <div class="col-sm-12">
                               <div class="alert alert-danger alert-dismissible" role="alert">
                                 <button type="button" class="close" data-dismiss="alert">×</button>
                                 <div class="alert-icon">
                                  <i class="zmdi zmdi-check-circle"></i>
                                 </div>
                                 <div class="alert-message">
                                   <span><strong>Error! </strong> Please fill all the data.</span>
                                 </div>
                                 </div>
                             </div>
                           </div>
                         </div>
                         </div>
                    </div> 
                    </form>

                    <div class="goRight">
                     <button type="button" mat-button matStepperPrevious>Back</button>
                     <button type="button" mat-raised-button color="primary" matStepperNext>Next 
                      <span class="fa fa-forward"></span> </button>
                    </div>
                </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Review</ng-template>

                        <div class="row">
                          <div class="col-sm-4">
                           <p class="reviewP"> Project Name : {{pName.value}}</p>
                          </div>
                          <div class="col-sm-4">
                            <p class="reviewP">  Requirement Name : {{rName.value}}</p>
                          </div>
                          <div class="col-sm-4">
                            <p class="reviewP">  No Of Resources : {{Nresources.value}}</p>
                          </div>
                        </div> 
                        
                          
                        
                        <div class="row">
                          <div class="col-sm-4">
                            <p class="reviewP">  Estimated Duration : {{eTime.value+'Weeks'}}</p>
                          </div>
                          <div class="col-sm-4">
                            <p class="reviewP">  Min Guranteed Duration : {{mgTime.value+'Weeks'}}</p>
                          </div>
                          <div class="col-sm-4">
                            <p class="reviewP"> Hour/Month : {{hmonth.value+'Hours'}}</p>
                          </div> 
                        </div>  
                        <div class="row">
                          <div class="col-sm-3">
                            <p class="reviewP">Start Date : {{sTime.value}}</p>
                          </div> 
                          <div class="col-sm-3">
                            <p class="reviewP">End Date : {{eTime.value}}</p>
                          </div> 
                          <div class="col-sm-3">
                            <p class="reviewP">Hours/Week : {{hWeek.value+'Hours'}}</p>
                          </div> 
                          <div class="col-sm-3">
                            <p class="reviewP">Hour/Day : {{hDay.value+'Hours'}}</p>
                          </div> 
                        </div>  
                        <div class="row">
                          <div class="col-sm-12">
                            <p class="reviewP"> Description</p>
                            <p class="reviewP">{{description.value}}</p>
                          </div>
                          
                        </div>

  
                    
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button (click)="stepper.reset()">Reset</button>
                          <button  mat-raised-button color="primary" type="submit">Agree and proceed <span class="fa fa-share"></span></button>
                       </mat-step>
                  </mat-horizontal-stepper>
 
 
 </form> 
       </div>
       </div>





       <div class="overlay toggle-menu"></div> 
    </div>
    </div> 
<app-footer></app-footer>