<app-menubar></app-menubar>
 <div class="content-wrapper">
    <div class="container-fluid">
 
        <div class="row pt-2 pb-2">
            <div class="col-sm-9">
                <h4 class="page-title">Profile</h4> 
           </div> 
         </div>  
         <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()" >

          <div class="row">
            <div class="col-lg-4">
              <div class="card">
                 <div class="card-body">
                   <div class="row align-items-center">
                     <div class="col text-left">
                       <i class="zmdi zmdi-share fa-2x"></i>
                     </div>
                     <div class="col text-right">
                       <i class="zmdi zmdi-more-vert fa-2x"></i>
                     </div>
                   </div>
                    <div class="text-center">  
                     <div class="profile-card py-5">
                       <img src="{{profile_pic_url}}" class="rounded-circle profilephoto" alt="user avatar" (click)="file.click()" id="profilePic" matTooltip='Click to change'>
                       <input #file type="file" accept="image/*" (change)="profilePicChange($event)" [hidden]="true">
                       <div *ngIf="uploading">Uploading...</div>
                     </div>
                     <h5 class="text-uppercase"> 
                      <span *ngIf="User_firstName"> {{User_firstName}}</span>
                      <span *ngIf="User_secondName"> {{User_secondName}}</span>
                      </h5>
                     <p class="">{{User_designation}} at {{Company_name}}</p>  
                      
                    </div>
                 </div>
               </div>  
            </div> 
            <div class="col-lg-8">
              <div class="card">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col">
                      <h6 class="mb-0 text-uppercase">Edit profile </h6>
                    </div>
                    <div class="col text-right">
                      <i class="zmdi zmdi-more-vert fa-2x"></i>
                    </div>
                  </div>
                </div>

                <div id="notSucess" class="{{isUpdated ? 'successClass' : 'notSucess'}}">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="alert alert-success alert-dismissible cus_success" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <div class="alert-icon">
                         <i class="zmdi zmdi-check-circle"></i>
                        </div>
                        <div class="alert-message">
                          <span><strong>Success! </strong> Your profile has been updated.</span>
                        </div>
                        </div> 
                    </div>
                  </div>
                </div>
                <div id="notSucess" class="{{invalid ? 'successClass' : 'notSucess'}}">
                  <div class="row">
                    <div class="col-sm-12"> 
                        <div class="alert alert-danger alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert">×</button>
                          <div class="alert-icon">
                           <i class="zmdi zmdi-check-circle"></i>
                          </div>
                          <div class="alert-message">
                            <span><strong>Warning! </strong> Invalid details!</span>
                          </div>
                          </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="profile-form"> 
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-first-name">First name</label>
                            <input type="text" id="input-first-name" class="form-control" formControlName="User_firstName_Crl" 
                            placeholder="First name"   >
                            <div *ngIf="submitted && f.User_firstName_Crl.errors" class="invalid-feedback">
                              <div *ngIf="f.User_firstName_Crl.errors">First name is a required field.</div> 
                            </div> 
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-last-name">Last name</label>
                            <input type="text" id="input-last-name" class="form-control" formControlName="User_secondName_Crl" 
                            placeholder="Last name"   >
                            <div *ngIf="submitted && f.User_secondName_Crl.errors" class="invalid-feedback">
                              <div *ngIf="f.User_secondName_Crl.errors">Last name is a required field.</div> 
                            </div> 
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-username">Contact Number</label>
                            <input type="text" id="input-username" class="form-control" formControlName="User_phone_Crl" 
                            placeholder="Phone number"   required>
                            <div *ngIf="submitted && f.User_phone_Crl.errors" class="invalid-feedback">
                              <div *ngIf="f.User_phone_Crl.errors"> Please enter a valid Contact Number.</div> 
                            </div> 
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-username">Contact Number 2</label>
                            <input type="text" id="input-username" class="form-control" formControlName="User_phone_Crl2" 
                            placeholder="Contact Number 2">
                             
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-email">Email address</label>
                            <input type="email" id="input-email" class="form-control" formControlName="User_email_Crl" 
                            placeholder="gracie@example.com"    required>
                            <div *ngIf="submitted && f.User_email_Crl.errors" class="invalid-feedback">
                              <div *ngIf="f.User_email_Crl.errors">Email is not valid.</div> 
                          </div>
                        </div>
                      </div> 
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-username">Designation</label>
                            <input type="text" id="input-username" class="form-control" formControlName="User_designation_Crl" 
                            placeholder="Designation"   required>
                            <div *ngIf="submitted && f.User_designation_Crl.errors" class="invalid-feedback">
                              <div *ngIf="f.User_designation_Crl.errors">Designation is not valid.</div> 
                          </div>
                        </div> 
                      </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4"> 
                        </div> 
                        <div class="col-lg-4">
                          <button type="submit" class="btn btn-primary btn-square m-1">Update</button>
                        </div> 
                        <div class="col-lg-4"> 
                        </div> 
                      </div>
                    </div>
                    <hr class="my-4"> 
                  </div>
                </div>
              </div> 
            </div>
            
        </div> 
        </form>






        <div class="overlay toggle-menu"></div> 
        </div>
        </div> 
<app-footer></app-footer>