 



 <!--Start sidebar-wrapper-->
   <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
     <div class="brand-logo">
        <a [routerLink]="[ '/company/Dashboard' ]"> 
       <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
       <h5 class="logo-text">{{Title}}</h5>
     </a>
   </div>
   
     <!--  Navigation--> 
   <ul class="sidebar-menu">
      <li class="sidebar-header">MAIN NAVIGATION</li>
      <li  [routerLinkActive]="['active']"  *ngIf="Role_id == 2">
        <a [routerLink]="[ '/company/Dashboard' ]"> 
          <i class="zmdi zmdi-home"></i>
		  <span>Dashboard</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>
      <li  [routerLinkActive]="['active']"  *ngIf="Role_id == 3">
        <a [routerLink]="[ '/company/Dashboard' ]"> 
          <i class="zmdi zmdi-home"></i>
		  <span>Dashboard</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>
      <li  [routerLinkActive]="['active']"  *ngIf="Role_id == 4">
        <a [routerLink]="[ '/company/Dashboard' ]"> 
          <i class="zmdi zmdi-home"></i>
		  <span>Dashboard</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>
      <li  [routerLinkActive]="['active']"  *ngIf="Role_id == 5">
        <a [routerLink]="[ '/company/Dashboard' ]"> 
          <i class="zmdi zmdi-home"></i>
		  <span>Dashboard</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>
      <li  [routerLinkActive]="['active']"  *ngIf="Role_id == 6">
        <a [routerLink]="[ '/company/Dashboard' ]"> 
          <i class="zmdi zmdi-home"></i>
		  <span>Dashboard</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>

      <li [routerLinkActive]="['active']" *ngIf="Role_id == 2">
        <a [routerLink]="[ '/company/Profile' ]"> 
          <i class="zmdi zmdi-account-circle"></i>
		  <span>Profile</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>

      <li [routerLinkActive]="['active']" *ngIf="Role_id == 3">
        <a [routerLink]="[ '/company/Profile' ]"> 
          <i class="zmdi zmdi-account-circle"></i>
		  <span>Profile</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>

      <li [routerLinkActive]="['active']" *ngIf="Role_id == 4">
        <a [routerLink]="[ '/company/Profile' ]"> 
          <i class="zmdi zmdi-account-circle"></i>
		  <span>Profile</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>

      <li [routerLinkActive]="['active']" *ngIf="Role_id == 5">
        <a [routerLink]="[ '/company/Profile' ]"> 
          <i class="zmdi zmdi-account-circle"></i>
		  <span>Profile</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>

      <li [routerLinkActive]="['active']" *ngIf="Role_id == 6">
        <a [routerLink]="[ '/company/Profile' ]"> 
          <i class="zmdi zmdi-account-circle"></i>
		  <span>Profile</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>

      <li [routerLinkActive]="['active']" *ngIf="Role_id == 7">
        <a [routerLink]="[ '/company/Edit' ]"> 
          <i class="zmdi zmdi-account-circle"></i>
		  <span>Profile</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>

      <li [routerLinkActive]="['active']" *ngIf="Role_id == 7">
        <a [routerLink]="[ '/company/TimeSheet' ]"> 
          <i class="fa fa-clock-o"></i>
		  <span>Time Sheet</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>

      <li [routerLinkActive]="['active']"  *ngIf="Role_id <=4">
        <a [routerLink]="[ '/company/Companyupdate' ]"> 
          <i class="zmdi zmdi-assignment-o"></i>
		  <span>Company Details</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li> 
 

      <li [routerLinkActive]="['active']"   *ngIf="Role_id ==2">
        <a [routerLink]="[ '/company/CreateDelegate' ]"> 
          <i class="zmdi zmdi-flight-takeoff"></i>
		  <span>Delegate</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>
      <li [routerLinkActive]="['active']"   *ngIf="Role_id <=3">
        <a [routerLink]="[ '/company/CreateSpoc' ]"> 
          <i class="zmdi zmdi-pin-drop"></i>
		  <span>Location SPOC</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>
      <li [routerLinkActive]="['active']" *ngIf="Role_id <=4">
        <a [routerLink]="[ '/company/Listing' ]"> 
          <i class="zmdi zmdi-accounts-list"></i>
		  <span>Listing Managers</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>
      <li [routerLinkActive]="['active']" *ngIf="Role_id <=4">
        <a [routerLink]="[ '/company/Hiring' ]"> 
          <i class="zmdi zmdi-border-color"></i>
		  <span>Hiring Managers</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>
      <li [routerLinkActive]="['active']" *ngIf="Role_id ==6 || Role_id <=4" > 
        <a [routerLink]="[ '/company/Projectmanagement' ]"> 
          <i class="zmdi zmdi-book"></i>
          <span>Projects</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li> 
      <li [routerLinkActive]="['active']"  *ngIf="Role_id ==6" >
        <a [routerLink]="[ '/company/Projectmanagement/ShortLists' ]"> 
          <i class="fa fa-user-plus"></i>
		  <span>Short Lists</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>
      <li [routerLinkActive]="['active']" *ngIf="  Role_id <=5">
        <a [routerLink]="[ '/company/Resources' ]"> 
          <i class="zmdi zmdi-accounts-alt"></i>
		  <span>Resource Lists</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>
      <li [routerLinkActive]="['active']"  *ngIf="Role_id ==6" >
        <a [routerLink]="[ '/company/Projectmanagement/Interviewing' ]"> 
          <i class="fa fa-hand-peace-o"></i>
		  <span>Interview</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>
      <li [routerLinkActive]="['active']"  *ngIf="Role_id ==6" >
        <a [routerLink]="[ '/company/Projectmanagement/Bookmarks' ]"> 
          <i class="fa fa-bookmark-o"></i>
		  <span>Bookmarks</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>
      <li [routerLinkActive]="['active']"  *ngIf="Role_id ==6" >
        <a [routerLink]="[ '/company/Projectmanagement/MyResources' ]"> 
          <i class="zmdi zmdi-accounts-alt"></i>
		  <span>My Resources</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>
      <li [routerLinkActive]="['active']"  *ngIf="Role_id ==5" >
        <a [routerLink]="[ '/company/Projectmanagement/Requests' ]"> 
          <i class="fa fa-envelope "></i>
		  <span>Requests</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>
      <li [routerLinkActive]="['active']"  *ngIf="Role_id ==5" >
        <a [routerLink]="[ '/company/Projectmanagement/ApprovedResources' ]"> 
          <i class="fa fa-check "></i>
		  <span>Approved Requests</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>
      <li [routerLinkActive]="['active']"  *ngIf="Role_id ==5 || Role_id ==6" >
        <a [routerLink]="[ '/company/Projectmanagement/ApproveTimeSheet' ]"> 
          <i class="fa fa-clock-o "></i>
		  <span>Time Sheet</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>
      <li [routerLinkActive]="['active']"  *ngIf="Role_id ==6 || Role_id <=4" >
        <a [routerLink]="[ '/company/Search' ]"> 
          <i class="fa fa-search"></i>
		  <span>Search</span><i class="fa fa-angle-left pull-right"></i>
        </a> 
      </li>
    </ul>

    
   
   </div>
   <!--End sidebar-wrapper-->

<!--Start topbar header-->
<header class="topbar-nav">
 <nav class="navbar navbar-expand fixed-top">
  <ul class="navbar-nav mr-auto align-items-center">
    <li class="nav-item">
      <a class="nav-link toggle-menu" href="javascript:void();">
       <i class="icon-menu menu-icon"></i>
     </a>
    </li>
    <li class="nav-item">
      <div class="search-bar">
        <input type="text" class="form-control" placeholder="Enter keywords">
         <a href="javascript:void();"><i class="icon-magnifier"></i></a>
      </div>
    </li>
  </ul>
  <ul class="navbar-nav align-items-center right-nav-link">
    <li class="nav-item dropdown-lg">
      <button type="button" class="fa fa-comments-o icon-button cWhite" matBadge="{{totalMsgs}}" matBadgeColor="warn" (click)="gotoChat()"> 
       </button> 
    </li>  
    <li class="nav-item dropdown-lg">
      <button type="button" class="fa fa-bell-o icon-button cWhite" matBadge="15" matBadgeColor="warn"> 
       </button> 
    </li>  
    <li class="nav-item dropdown-lg">
      <button type="button" class="fa fa-envelope icon-button cWhite" matBadge="15" matBadgeColor="warn"> 
       </button> 
    </li>       
    <li class="nav-item dropdown-lg">
      <button mat-button [matMenuTriggerFor]="menu" class="btnicon"> 
        <img src="{{userPhoto}}" class="img-responsive profileicon"> 
      </button>
      <mat-menu #menu="matMenu">
      <button mat-menu-item> <span class="fa fa-gears"></span> Settings</button>
      <button mat-menu-item (click)="logout()"><span class="fa fa-power-off"></span>  Log out</button>
      </mat-menu>
        <!-- <a [routerLink]="[ '/company/Login']" class="cRed">      
      <img src="https://image.flaticon.com/icons/svg/145/145867.svg" class="img-responsive profileicon" alt></a> -->
    </li> 
      </ul>   
</nav>
</header>
<!--End topbar header-->
<div class="clearfix"></div>
	
     
   
     
 