
<app-menubar></app-menubar>
<div class="content-wrapper">
   <div class="container-fluid">

    <div class="row pt-2 pb-2">
        <div class="col-sm-9">
            <h4 class="page-title"> Project Lists</h4> 
       </div> 
       </div> 
  
    <div class="card">
        <div class="card-body">     
            <div class="row"> 
                    <div class="col-sm-12">
                    <div class="right">
                        <button type="button" class="btn btn-primary m-1" [routerLink]="['/L5Dashboard/Projectmanagement/Createproject']" >Create New <span class="fa fa-plus"></span> </button>
                    </div>
                </div>
            </div>
            
    <div class="row"> 
            <div class="col-sm-12">


                <div class="table-responsive">
                    <table id="default-datatable" class="table table-bordered">
                      <thead>
                          <tr>
                              <th>No</th>
                              <th>Name</th>
                              <th>Location</th>
                              <th>Start</th>
                              <th>End</th>
                              <th>Status</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of projects;let i = index;">
                            <th>{{ i + 1 }}</th>
                            <th>{{ item.Project_name }}</th>
                            <th>{{ item.Project_location }}</th>
                            <th>{{ item.Start_date }}</th>
                            <th>{{ item.End_date }}</th>
                            <th>{{ item.Status }}</th>
                            <th> 
                                <button mat-button [matMenuTriggerFor]="menu">More&nbsp;<i class="fa fa-ellipsis-v"></i>  </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="gotoProject(item.Project_id)">View Project</button>
                                    <button mat-menu-item >Delete Project </button>
                                    <button mat-menu-item (click)="createAssignment(item.Project_id)">Add Assignment </button>
                                  <button mat-menu-item (click)="gotoAssignment(item.Project_id)">View Assignments</button>
                                </mat-menu>
 
                            </tr>
                        </tbody>

                      </table>
                      </div> 

        </div>
    </div>
    </div>
    </div>







        <div class="overlay toggle-menu"></div> 
    </div>
    </div> 
<app-footer></app-footer>