<app-menubar></app-menubar>
<div class="content-wrapper">
   <div class="container-fluid">

    <div class="row pt-2 pb-2">
        <div class="col-sm-9">
            <h4 class="page-title"> Assignment Lists</h4> 
       </div> 
       </div> 

       <div class="card">
        <div class="card-body">  
       <div class="row"> 
        <div class="col-sm-12">


            <div class="table-responsive">
                <table id="default-datatable" class="table table-bordered">
                  <thead>
                      <tr>
                          <th>No</th>
                          <th>Name</th> 
                          <th>Resources</th> 
                          <th>Description</th> 
                          <th>Action</th> 
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of assignmentLists;let i = index;">
                        <th>{{ i + 1 }}</th>
                        <th>{{ item.Requirement_name }}</th> 
                        <th>{{ item.No_of_resources }}</th> 
                        <th>{{ item.Requirements_description }}</th> 
                        <th>
                            <button mat-button color="primary" (click)="findMatching(item.Requirement_id)">Find matching <span class="fa fa-users"></span> </button>

                            <button mat-button [matMenuTriggerFor]="menu">More&nbsp;<i class="fa fa-chevron-circle-down"></i>  </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item  >View Assignment</button>
                                <button mat-menu-item >Delete Assignment </button> 
                            </mat-menu>
                        </th>
                         
                        </tr>
                    </tbody>

                  </table>
                  </div> 
                  </div>
                  </div>

    </div>
</div>




       <div class="overlay toggle-menu"></div> 
    </div>
    </div> 
<app-footer></app-footer>