
<div class="margincus" *ngFor="let data of profile">
  <div class="goright" *ngIf="Role_id !=5">
    <span class="fa fa-bookmark-o" (click)="addBookmark(data.Resource_id)"></span>
</div>
    <div class="row">
        <div class="col-sm-12">
            <img src="{{data.Resource_photo}}" class="popicon">
    
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="nametitle">
                <h4>{{data.Resource_salutation + data.Resource_name}} </h4>
                <p>{{data.Resource_Designation}} | {{data.CompanyTb.C_short_name}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="descriptions">{{data.Resource_summery}}</p> 
        </div>

    </div>
<div class="skillsec">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Skil set
            </mat-panel-title> 
          </mat-expansion-panel-header>
          <div class="" >

            <span class="skillsclass" *ngFor="let skill of data.Resource_technologiesTbs">
                {{skill.RTechnology_name}}
            </span>

          </div>
        </mat-expansion-panel>
        
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Domain Knowledge
            </mat-panel-title> 
          </mat-expansion-panel-header>

          <span class="skillsclass" *ngFor="let skill of data.Resource_domainTbs">
              {{skill.RDomain}}
          </span>
        </mat-expansion-panel>
        
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Roles
            </mat-panel-title> 
          </mat-expansion-panel-header>

          <span class="skillsclass" *ngFor="let skill of data.Resource_rolesTbs">
              {{skill.RRole_name}}
          </span>
        </mat-expansion-panel>
        
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Qualifications
            </mat-panel-title> 
          </mat-expansion-panel-header>

          <span class="skillsclass" *ngFor="let skill of data.Resource_educationTbs">
              {{skill.REducation}}
          </span>
        </mat-expansion-panel>
        
      </mat-accordion>
</div> 
</div>