<div class="row"> 
    <div class="col-sm-12"> 
        <div class="form-group">
          <label for="input-11">Interview Shedule   <span class="redColor">*</span></label> <br>

<div class="row">
    <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>Interview Date</mat-label>
          <input matInput [matDatepicker]="dp3" disabled>
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>

    </div>
    <div class="col-sm-6">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Interview Time</mat-label>
            <input type="time" matInput  >
          </mat-form-field>
    </div>
</div>


         </div> 
          
            <button mat-raised-button color="primary"   (click)="onNoClick()">Cancel</button>&nbsp;
            <button mat-raised-button color="primary"   (click)="proceed()">Proceed</button>
        
           </div>
 </div>
 <div class="row">
     <div class="col-sm-12">
         
     </div>
 </div>