
  .error-message, .invalid-feedback {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
  }
.cus_success{
    color: white;
    background-color: #04AA6D;
}
.is-invalid{
  border-color: red;
}
.notSucess{
  display: none;
} 
.noShodow{
    box-shadow:none;
}
.redColor{
    color: red;;
} 
.icheck-material-success{
    width: 20%;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.inlinCol{
  display: inline-block;
  width: auto;
}
#goup{
  margin-top: -20px;
    margin-bottom: 10px;
}
.file-input {
  display: none;
}