
<app-menubar></app-menubar>
<div class="content-wrapper">
   <div class="container-fluid">

    <div class="row pt-2 pb-2">
        <div class="col-sm-6">
            <h4 class="page-title"> Resource Requests</h4> 
       </div> 
       <div class="col-sm-6">
       
   </div>
       </div> 
  
    <div class="card">
        <div class="card-body">     
            <div class="table-responsive"  > 

                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >
                                                 
 

                    <!-- Position Column -->
                    <ng-container matColumnDef="No" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
                        <td mat-cell *matCellDef="let element;let i =index;"> {{i+1}} </td>
                      </ng-container>   
                      <!-- Position Column -->
                      <ng-container matColumnDef="Resource_name" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Resource_name </th>
                        <td mat-cell *matCellDef="let element;let i =index;"> 
                          <img src="{{(element.ResourceTb.Resource_photo) ? element.ResourceTb.Resource_photo :default_profile_pic }}" (click)="viewResourceProfile(element.Resource_id)" matTooltip="View Resource"  alt="" class="profilePic">

                          {{element.ResourceTb.Resource_name}} </td>
                      </ng-container>  
                      <!-- Position Column -->
                      <ng-container matColumnDef="Requirement_name" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Requirement_name </th>
                        <td mat-cell *matCellDef="let element;let i =index;"> {{element.RequirementsTb.Requirement_name}} </td>
                      </ng-container>  
                      <!-- Position Column -->
                      <ng-container matColumnDef="Requirement_start" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Requirement_start </th>
                        <td mat-cell *matCellDef="let element;let i =index;"> {{element.RequirementsTb.Requirement_start}} </td>
                      </ng-container> 
                      <!-- Position Column -->
                      <ng-container matColumnDef="C_short_name" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
                        <td mat-cell *matCellDef="let element;let i =index;"> {{element.RequirementsTb.CompanyTb.C_short_name}} </td>
                      </ng-container>  
                      <!-- Position Column -->
                      <ng-container matColumnDef="Action" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let element;let i =index;">  
                            <button mat-icon-button color='primary' class="actionBtns" (click)="approveResources(element.ResourceTb.Resource_id,element.RequirementsTb.Requirement_id)">
                               <span class="fa fa-check"></span>
                              </button> 
                              <button mat-icon-button color='warn' class="actionBtns">
                                 <span class="fa fa-close"></span>
                                </button> 
                        </td>
                      </ng-container>   
  
 
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[5, 10, 50,100]" showFirstLastButtons></mat-paginator>
         </div>
    </div>
    </div>







        <div class="overlay toggle-menu"></div> 
    </div>
    </div> 
<app-footer></app-footer>