<app-menubar></app-menubar>
 <div class="content-wrapper">
    <div class="container-fluid">
 
        <div class="row pt-2 pb-2">
            <div class="col-sm-9">
                <h4 class="page-title">Edit Profile</h4> 
           </div> 
         </div>   
 
            <form [formGroup]="Resource_Form" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-sm-12">
                    <mat-horizontal-stepper   #stepper>
                      <mat-step [stepControl]="Resource_Form"  >
                           <ng-template matStepLabel>Personal</ng-template>
                           <div class="row"> 
                           <div class="col-sm-4">
                            <div class="form-group">
                              <label for="input-11"> Resource name<span class="redColor">*</span> </label>
                              <input type="text" class="form-control form-control-square" formControlName="Resource_name" id="Resource_name" 
                              name="Resource_name"  placeholder="Your Delegate fullname">
                              <div *ngIf="submitted && f.Resource_name.errors" class="invalid-feedback">
                                  <div *ngIf="f.Resource_name.errors.required">Name is a required field.</div> 
                                </div> 
                             </div>
                          </div> 
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label for="input-11">Email ID<span class="redColor">*</span></label>
                              <input type="email" class="form-control form-control-square" formControlName="Resource_email" id="Resource_email" 
                              name="Resource_email"  placeholder="Resource Email ID">
                              <div *ngIf="submitted && f.Resource_email.errors" class="invalid-feedback">
                                  <div *ngIf="f.Resource_email.errors.required">Email ID is a required field.</div> 
                                </div> 
                             </div>
                          </div> 
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label for="input-11">Phone Number<span class="redColor">*</span></label>
                              <input type="text" class="form-control form-control-square" formControlName="Resource_phone" id="Resource_phone" 
                              name="Resource_phone"  placeholder="Resource Phone">
                              <div *ngIf="submitted && f.Resource_phone.errors" class="invalid-feedback">
                                  <div *ngIf="f.Resource_phone.errors.required">Phone Number is a required field.</div> 
                                </div> 
                             </div>
                          </div> 

                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="input-11"> Password<span class="redColor">*</span> </label>
                          <input [type]="fieldTextType ? 'text' : 'password'" class="form-control form-control-square" formControlName="Resource_password" id="Resource_password" 
                          name="Resource_password"  placeholder="Your Delegate Password">
                          <div *ngIf="submitted && f.Resource_password.errors" class="invalid-feedback">
                              <div *ngIf="f.Resource_password.errors.required">Password is a required field.</div> 
                            </div> 
                         </div> 
                         <div class="icheck-material-primary">
                          <input type="checkbox" id="primary" checked="" (click)="toggleFieldTextType()">
                          <label for="primary">Hide password</label>
                      </div> 
                      </div> 
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="input-11">Confirm Password<span class="redColor">*</span> </label>
                          <input [type]="fieldTextType ? 'text' : 'password'" class="form-control form-control-square" formControlName="Resource_password2" id="Resource_password2" 
                          name="Resource_password2"  placeholder="Confirm Password">
                          <div *ngIf="submitted && f.Resource_password2.errors" class="invalid-feedback">
                              <div *ngIf="f.Resource_password2.errors.required">Password is a required field.</div> 
                            </div> 
                         </div>
                      </div> 
                      <div class="col-sm-4">
                        <div class="form-group"> 
                          <label for="file">Choose Resume</label>
                          <input type="file"
                                 id="file"
                                 (change)="handleFileInput($event.target.files)"> 
                         </div>
                      </div>   
                        </div>

                          <div>
                            <button mat-button matStepperNext>Next</button>
                          </div>
                       </mat-step>
                      <mat-step [stepControl]="Resource_Form"  >
                           <ng-template matStepLabel>Professional</ng-template>
                          <div class="row">

                            <div class="col-sm-2">
                              <div class="form-group">
                                <label for="input-11"> Rate / Hour <span class="redColor">*</span></label>
                                <input type="number" class="form-control form-control-square" formControlName="Resource_rate" id="Resource_rate" 
                                name="Resource_rate"  placeholder="Rate/Hour">
                                <div *ngIf="submitted && f.Resource_rate.errors" class="invalid-feedback">
                                    <div *ngIf="f.Resource_rate.errors.required">rate is a required field.</div> 
                                  </div> 
                               </div>
                            </div> 

                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="input-11"> Total Experience In Years<span class="redColor">*</span></label>
                          <input type="number" class="form-control form-control-square" formControlName="Resource_experience" id="Resource_experience" 
                          name="Resource_experience"  placeholder="Total Experience of the resource">
                          <div *ngIf="submitted && f.Resource_experience.errors" class="invalid-feedback">
                              <div *ngIf="f.Resource_experience.errors">Experience is a required.</div> 
                            </div> 
                         </div>
                      </div>  

                      <div class="col-sm-3"> 
                        <div class="form-group">  
                        <mat-form-field appearance="outline">
                          <mat-label>Current Designation</mat-label>
                          <mat-select formControlName="Resource_designation" id="Resource_designation" name="Resource_designation" >
                            <mat-option *ngFor="let role of RJobRoles_List" [value]="role.Role_name">{{role.Role_name}}</mat-option> 
                          </mat-select>
                        </mat-form-field>  
                         </div> 
                           </div> 

                          <div class="col-sm-4">
                            <div class="form-group"> 
                        <mat-form-field appearance="outline">
                          <mat-label>Resource stack</mat-label>
                          <mat-select formControlName="Resource_stack" id="Resource_stack" name="Resource_stack" >
                            <mat-option value="FULL">Full stack</mat-option>
                            <mat-option value="FRONTEND">Front End</mat-option>
                            <mat-option value="BACKEND">Back End</mat-option>
                            <mat-option value="OTHERS">Other</mat-option>
                          </mat-select>
                        </mat-form-field>  
                              <div *ngIf="submitted && f.Resource_stack.errors" class="invalid-feedback">
                                  <div *ngIf="f.Resource_stack.errors.required">Resource stack is a required field.</div> 
                                </div> 
                             </div>
                          </div> 


                          <div class="col-sm-3">

                            <div class="form-group">
                              <label for="input-11"> Available from<span class="redColor">*</span></label>
                              <input type="date" class="form-control form-control-square" formControlName="Available_from" id="Available_from" 
                              name="Available_from"  placeholder="Available from">
                             </div>
                               </div>
                               <div class="col-sm-3">

                                 <div class="form-group">
                                   <label for="input-11"> Available to<span class="redColor">*</span></label>
                                   <input type="date" class="form-control form-control-square" formControlName="Available_to" id="Available_to" 
                                   name="Available_to"  placeholder="Available from">
                                  </div>
                                    </div>

                          </div> 
                          <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                          </div>
                       </mat-step>
                       <mat-step>
                         <ng-template matStepLabel>Skills</ng-template>
                         <form [formGroup]="techFormGroup" (ngSubmit)="addTechnology()">
                          <label for="input-11"> Choose Technology<span class="redColor">*</span></label><br>

                           <div class="row"> 
                              <div class="col-sm-12">
                                <mat-accordion>
                                  <div class="marg" *ngFor="let techncat of tech_lists; let i=index">
                                  <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                          {{techncat.Technology_category}} 
                                      </mat-panel-title> 
                                    </mat-expansion-panel-header>
                                      <mat-panel-description>
                                          <div class="row">
                                              <div class="col-sm-12">
                                              <div class="Acheckbox icheck-inline" *ngFor="let technology of techncat['TechnologyTbs']; let j=index">
                                              <label class="container">   
                                              <!-- <input type="checkbox"  value ="{{technology.Technology_name}}" (change)="selectTech($event)">
                                                -->
                                                    <button mat-raised-button   (click)="PopupTechnology(technology.Technology_name)">
                                                      {{technology.Technology_name}}
                                                    </button>

                                              </label>
                                              </div> 
                                              </div> 
                                              </div>
                                      </mat-panel-description> 
                                  </mat-expansion-panel>
                                  </div>
                                  </mat-accordion>

                               
                          </div> 
                           </div>
                           <br>
                           <p>Add custome technology <i>(Approvel required by Admin)</i> </p> 
                         <div class="row">
                          <div class="col-sm-3">

                       <div class="form-group">
                         <label for="input-11"> Technology Name<span class="redColor">*</span></label>
                         <input type="text" class="form-control form-control-square" formControlName="Technology_name" id="Technology_name" 
                         name="Technology_name"  placeholder="Technology Name">
                        </div>
                          </div>
                          <div class="col-sm-3">
                       <div class="form-group">
                         <label for="input-11"> Technology Version<span class="redColor">*</span></label>
                         <input type="text" class="form-control form-control-square" formControlName="Technology_version" id="Technology_version" 
                         name="Technology_version"  placeholder="Total Experience of the resource">
                        </div>
                          </div>
                          <div class="col-sm-2">
                       <div class="form-group">
                         <label for="input-11"> Experience(years)<span class="redColor">*</span></label>
                         <input type="number" class="form-control form-control-square" formControlName="Technology_experience" id="Technology_experience" 
                         name="Technology_experience"  placeholder="Total Experience of the resource">
                        </div> 
                          </div>
                          <div class="col-sm-4">
                       <div class="form-group">
                         <label for="input-11"> Expertaise Level<span class="redColor">*</span></label><br>
                         <mat-radio-group aria-label="Select an option" formControlName="Technology_level" id="Technology_level" 
                        name="Technology_level">
                        <mat-radio-button value="BEGGINER" >BEGGINER</mat-radio-button>&nbsp; 
                        <mat-radio-button value="INTERMEDIATE" >MEDIUM</mat-radio-button>&nbsp; 
                          <mat-radio-button value="EXPERT" [checked]="true">EXPERT</mat-radio-button>
                        </mat-radio-group> 
                        </div> 
                          </div>
                          <div class="col-sm-12" id="goup"> 
                            <div class="row">
                              <div class="inlinCol" *ngFor="let technology of technology_list " > 
                               <button type="button" class="btn-social-text btn-youtube btn-round waves-effect waves-light m-1 ">
                                  <span>{{technology.Technology}} </span>  
                               </button>

                             </div>
                            </div> 
                          </div>
                          <div class="col-sm-3">

                       <div class="form-group">
                        <button type="submit" mat-raised-button color="primary">Add</button>
                      </div>
                          </div> 

                         </div>
                        </form> 
                         <div>
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button matStepperNext>Next</button>
                         </div>
                       </mat-step>
                       <mat-step>
                         <ng-template matStepLabel>Domains</ng-template>
                         <form [formGroup]="domainFormGroup" (ngSubmit)="addDomain()">  
                           <div class="row"> 
                              <div class="form-group">
                                <label for="input-11">Domain Lists<span class="redColor">*</span> </label><br>
                                <div class="Acheckbox icheck-inline col-sm-3" *ngFor="let domain of RDomains_List; let i=index">
                                   <label class="container2 "> {{domain.Domain}}
                                       <input type="checkbox"  value ="{{domain.Domain}}" (change)="domainChange($event)">
                                       <span class="checkmark"></span>
                                       </label>
                                 </div>  
                               </div> 
                            </div> 
                           <p>Don't find the required domain ? Add custome domain</p>

                         <div class="row"> 
                          <div class="col-sm-4"> 
                            <div class="form-group">
                              <label for="input-11"> Domain<span class="redColor">*</span></label>
                              <input type="text" [checked]="false" class="form-control form-control-square" formControlName="Domain_name" id="Domain_name" 
                              name="Domain_name"  placeholder="Domain / Sector name">
                             </div> 
                               </div> 
                               <div class="col-sm-4"> 

                                
                             <div class="form-group">
                              <label for="input-11"> Duration<span class="redColor">*</span></label> 
                                  <div class="input-group">
                                    <input type="date" class="form-control form-control-square" formControlName="Domain_duration" id="Domain_duration" 
                                    name="Domain_duration"  placeholder="  Duration in years">                                                      
                                    <div class="input-group-append">
                                      <span class="input-group-text">
                                        <button type="submit" mat-raised-button color="primary" >Add</button>

                                      </span>
                                    </div>
                                    </div>
                                 </div> 

                                    </div>
                                    <div class="col-sm-12"> 
                                      <div class="row">
                                        <div class="inlinCol" *ngFor="let domain of domain_list " > 
                                         <button type="button" class="btn-social-text btn-youtube btn-round waves-effect waves-light m-1 ">
                                            <span>{{domain.Domain}} </span>  
                                         </button> 
                                       </div>
                                      </div> 
                                    </div>  

                                    <div class="col-sm-12">

                              <div id="notSucess" class="{{isDoaminError ? 'successClass' : 'notSucess'}}">
                                <div class="row">
                                  <div class="col-sm-12">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                      <button type="button" class="close" data-dismiss="alert">×</button>
                                      <div class="alert-icon">
                                       <i class="zmdi zmdi-check-circle"></i>
                                      </div>
                                      <div class="alert-message">
                                        <span><strong>Error! </strong> Please fill all the data.</span>
                                      </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                              </div>
                                </div> 
                                </form>

                         <div>
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button matStepperNext>Next</button>
                         </div>
                       </mat-step>
                       <mat-step>
                         <ng-template matStepLabel>Experience</ng-template>
                         <form [formGroup]="jobRoleFormGroup" (ngSubmit)="addJobTitle()">
                          <div class="row"> 
                            <div class="form-group">
                              <label for="input-11">Job Role<span class="redColor">*</span> </label><br>
                              <div class="Acheckbox icheck-inline col-sm-3" *ngFor="let role of RJobRoles_List; let i=index">
                                 <label class="container2 "> {{role.Role_name}}
                                     <input type="checkbox" [checked]="false" value ="{{role.Role_name}}" (change)="roleChange($event)">
                                     <span class="checkmark"></span>
                                     </label>
                               </div>  
                             </div> 
                          </div> 
                          <p>Don't find the required Title ? Add custome Title</p>

                         <div class="row"> 
                          <div class="col-sm-4"> 
                            <div class="form-group">
                              <label for="input-11"> Job / Title<span class="redColor">*</span></label>
                              <input type="text" class="form-control form-control-square" formControlName="Job_title" id="Job_title" 
                              name="Job_title"  placeholder="Job title">
                             </div> 
                               </div> 
                               <div class="col-sm-4"> 

                             <div class="form-group">
                              <label for="input-11"> Duration<span class="redColor">*</span></label> 
                                  <div class="input-group">
                                    <input type="date" class="form-control form-control-square" formControlName="Job_duration" id="Job_duration" 
                                    name="Job_duration"  placeholder="Job Duration in years">                                                      
                                    <div class="input-group-append">
                                      <span class="input-group-text">
                                        <button type="submit" mat-raised-button color="primary" >Add</button>

                                      </span>
                                    </div>
                                    </div>
                                 </div> 
                                    </div> 
                                    <div class="col-sm-12"> 
                                      <div class="row">
                                        <div class="inlinCol" *ngFor="let job of jobRole_list " > 
                                         <button type="button" class="btn-social-text btn-youtube btn-round waves-effect waves-light m-1 ">
                                            <span>{{job.Job_title}} </span>  
                                         </button> 
                                       </div>
                                      </div> 
                                    </div> 

                                    <div class="col-sm-12">

                              <div id="notSucess" class="{{isJobError ? 'successClass' : 'notSucess'}}">
                                <div class="row">
                                  <div class="col-sm-12">
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                      <button type="button" class="close" data-dismiss="alert">×</button>
                                      <div class="alert-icon">
                                       <i class="zmdi zmdi-check-circle"></i>
                                      </div>
                                      <div class="alert-message">
                                        <span><strong>Error! </strong> Please fill all the data.</span>
                                      </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                              </div>
                         </div> 
                         </form>

                         <div>
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button matStepperNext>Next</button>
                         </div>
                       </mat-step>

                       <mat-step>
                        <ng-template matStepLabel>Education</ng-template>



                        <form [formGroup]="educationFormGroup" (ngSubmit)="addEducation()">
                          <div class="row"> 
                            <div class="form-group">
                              <label for="input-11">Education Lists<span class="redColor">*</span> </label><br>
                              <div class="Acheckbox icheck-inline col-sm-3" *ngFor="let edu of educations; let i=index">
                                 <label class="container2 "> {{edu.Qualification}}
                                     <input type="checkbox"  value ="{{edu.Qualification}}" (change)="educationChange($event)">
                                     <span class="checkmark"></span>
                                     </label>
                               </div>  
                             </div> 
                          </div> 
                          <i>Request an extra Education data</i>

                          <div class="row"> 
                           <div class="col-sm-4"> 
                             <div class="form-group">
                               <label for="input-11"> Education<span class="redColor">*</span></label>
                               <input type="text" class="form-control form-control-square" formControlName="Education" id="Education" 
                               name="Education"  placeholder="Education name">
                              </div> 
                                </div> 
                                <div class="col-sm-4"> 
                                  
                             <div class="form-group">
                              <label for="input-11"> Pass out year<span class="redColor">*</span></label> 
                                  <div class="input-group">
                                    <input type="date" class="form-control form-control-square" formControlName="Pass_year" id="Pass_year" 
                                    name="Pass_year"  placeholder="Pass out year">                                                      
                                    <div class="input-group-append">
                                      <span class="input-group-text">
                                        <button type="submit" mat-raised-button color="primary" >Add</button>

                                      </span>
                                    </div>
                                    </div>
                                 </div>
                                     </div>   


                                     <div class="col-sm-12"> 
                                       <div class="row">
                                         <div class="inlinCol" *ngFor="let edu of education_list " > 
                                          <button type="button" class="btn-social-text btn-youtube btn-round waves-effect waves-light m-1 ">
                                             <span>{{edu.Education}} </span>  
                                          </button> 
                                        </div>
                                       </div> 
                                     </div>

                                     <div class="col-sm-12">

                               <div id="notSucess" class="{{isEduError ? 'successClass' : 'notSucess'}}">
                                 <div class="row">
                                   <div class="col-sm-12">
                                     <div class="alert alert-danger alert-dismissible" role="alert">
                                       <button type="button" class="close" data-dismiss="alert">×</button>
                                       <div class="alert-icon">
                                        <i class="zmdi zmdi-check-circle"></i>
                                       </div>
                                       <div class="alert-message">
                                         <span><strong>Error! </strong> Please fill all the data.</span>
                                       </div>
                                       </div>
                                   </div>
                                 </div>
                               </div>
                               </div>
                          </div> 
                          </form>
                        












                        <div>
                          <button mat-button matStepperPrevious>Back</button>
                          <button type="button" mat-button matStepperNext>Next</button>
                        </div>
                      </mat-step>

                       <mat-step>
                         <ng-template matStepLabel>Final</ng-template>
                          <div class="row">
                            <div class="col-sm-4">
                              <div class="form-group">
                              <label for="input-11"> Available for remote ? <span class="redColor">*</span></label> <br> 
                              <mat-radio-group aria-label="Select an option" formControlName="isRemote" id="isRemote" 
                              name="isRemote">
                              <mat-radio-button value="YES" >YES</mat-radio-button>&nbsp; 
                              <mat-radio-button value="NO" >NO</mat-radio-button>&nbsp; 
                                <mat-radio-button value="BOTH" [checked]="true">BOTH</mat-radio-button>
                              </mat-radio-group> 
                              </div>
                            </div> 
                            <div class="col-sm-4">
                              <div class="form-group">
                              <label for="input-11"> Resource Availability ? <span class="redColor">*</span></label> <br>
                              <mat-radio-group aria-label="Select an option" formControlName="Resource_availability" id="Resource_availability" 
                              name="Resource_availability">
                              <mat-radio-button value="FULL" >Full time</mat-radio-button>&nbsp; 
                              <mat-radio-button value="HALF" >Partially</mat-radio-button>&nbsp; 
                                <mat-radio-button value="BUSY" [checked]="true">Both</mat-radio-button>
                              </mat-radio-group> 
                              </div>
                            </div>
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label for="input-11"> Profile summery<span class="redColor">*</span></label> 
                                <textarea class="form-control form-control-square" rows="6" formControlName="Resource_summery" id="Resource_designation" 
                                name="Resource_summery"  placeholder="Your Delegate Designation"></textarea>
                                <div *ngIf="submitted && f.Resource_summery.errors" class="invalid-feedback">
                                    <div *ngIf="f.Resource_summery.errors.required">summery is a required field.</div> 
                                  </div> 
                               </div>
                            </div> 
                          </div>
                         <div>
                          <button mat-button matStepperPrevious>Back</button>
                          <button type="button" mat-button matStepperNext>Next</button>
                          <button type="submit" class="btn btn-primary btn-square m-1">Proceed</button>

                         </div>
                       </mat-step>
                    </mat-horizontal-stepper>
                  </div> 
                    </div>
                    <div id="notSucess" class="{{isUpdated ? 'successClass' : 'notSucess'}}">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="alert alert-success alert-dismissible cus_success" role="alert">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <div class="alert-icon">
                             <i class="zmdi zmdi-check-circle"></i>
                            </div>
                            <div class="alert-message">
                              <span><strong>Success! </strong> New Resource is created.</span>
                            </div>
                            </div>
                        </div>
                      </div>
                    </div>

                    <div id="notSucess" class="{{isError ? 'successClass' : 'notSucess'}}">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <div class="alert-icon">
                             <i class="zmdi zmdi-check-circle"></i>
                            </div>
                            <div class="alert-message">
                              <span><strong>Error! </strong> Invalid data.</span>
                            </div>
                            </div>
                        </div>
                      </div>
                    </div>
            </form>
 
         



<div class="overlay toggle-menu"></div> 
</div>
</div> 
<app-footer></app-footer>