 
 
<div id="wrapper"> 
  <div class="mt-5">
  <div class="card card-authentication1 mx-auto">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="card-body">
     <div class="card-content">
       <div class="text-center pb-4">
          <img src="../../../assets/images/logo-icon.png" alt="logo icon"/>
       </div>
      <div class="row"> 
        <div class="col-sm-12">
          <div class="form-group">
            <label for="input-11">Email ID</label>
            <input type="email" class="form-control form-control-square" formControlName="User_email" id="User_email" name="User_email" 
            placeholder="Your registered Email ID">
            <div *ngIf="loginForm.controls['User_email'].invalid 
            && (loginForm.controls['User_email'].dirty || loginForm.controls['User_email'].touched)"  class="error-message">
            Please enter your Email ID</div>
           </div>
        </div> 
        <div class="col-sm-12">
          <div class="form-group">
            <label for="input-11">Role</label> <br>

            <mat-form-field appearance="outline" class="roleClass">
              <mat-label>Choose an option</mat-label> 
              <mat-select formControlName="User_role" id="User_role" name="User_role" >
                <mat-option *ngFor="let option of rolesList" [value]="option.User_roles">
                  {{option.User_role_description}}</mat-option> 
              </mat-select>
            </mat-form-field>  
           </div>
        </div>  
          <div class="col-sm-12">
            <div class="form-group">
              <label for="input-11">Password</label>
              <input [type]="fieldTextType ? 'text' : 'password'"
              class="form-control form-control-square" formControlName="User_password" id="User_password" 
              name="User_password" placeholder="Password For Your Account" autocomplete="off">
              
              <div class="row">
                <div class="col-sm-12">
                  <div class="icheck-material-primary">
                    <input type="checkbox" id="primary" checked="" (click)="toggleFieldTextType()">
                    <label for="primary">Hide password</label>
                    <label for="primary" style="float: right;">  <a [routerLink]="[ '/company/ForgotPassword/']" >Reset Password</a></label>
                  </div>  
                </div> 
              </div> 
        <span *ngIf="loginstatus" class="error-message"> Invalid login credentials ! </span>
              <div *ngIf="loginForm.controls['User_password'].invalid 
              && (loginForm.controls['User_password'].dirty || loginForm.controls['User_password'].touched)"  class="error-message">
              Please enter your password</div>
             </div> 
          </div>  
        </div>
  
        <div class="row"> 
          <div class="col-sm-2"> </div>
            <div class="col-sm-8">
            <button type="submit" class="btn btn-primary btn-block btn-round"  >Login now</button> 
          </div>   
          <div class="col-sm-2"> </div> 
        </div>
   
        </div>
      </div>
      
      </form>
       </div>
   </div>
        
  <br><br><br>
  
  </div> 